.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  height: 550px;
}

.swiper-pagination-bullet{
  width: 24px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 0;
  opacity: 1;
  
  &-active{
    background-color: #ffa337;
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets{
  transform: translate(612px, 0px);
}

.swiper-button-next, .swiper-button-prev{
  width: 156px;
  height: 156px;
  background-color: #ffffff;
  opacity: 0.9;
  color: #746145;
  font-size: 42px;
  border-radius: 50%;
  top: 41%;
  
  &::after{
    display: none;
  }
}

.swiper-button-prev{
  i{
    transform: rotate(180deg);
  }
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  opacity: 0;
}

.slide-info{
  color: #ffffff;
  padding: 130px 0 0 195px;
  
  &__title{
    font-family: "Simeiz";
    font-size: 100px;
    font-weight: 400;
    line-height: normal;
  }
  
  &__description{
    font-family: "HelveticaNeueCyr";
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 24px;
  }
}
