.tab-pane {
	display: none;
	&.active {
		display: block;
	}
}

.tabs-wrapper{
	.tabs_head{
		display: flex;
		flex-flow: column;
		
	}
}

.tabs-active{
	.tab_item, .tab_item-security{
		height: 100%;
	}
	.tab_point{
		background-color: $gray-bg;
		&-icon{
			transform: rotate(90deg) translateY(6px);
		}
	}
}

.tab_point{
	font-size: 24px;
	background-color: $beige;
	padding: 25px 40px 25px 33px;
	margin: 0 0 14px 0;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	transition: background-color .7s ease;
	&-icon{
		transform: rotate(-90deg);
		transition: transform .7s ease;
	}
}

.tab_item, .tab_item-security{
	padding: 0 133px 20px 33px;
	height: 0;
	p{
		line-height: 25px;
	}
}

.tabs-lists{
	li{
		margin: 0 0 25px 0;
		position: relative;
		text-indent: 20px;
		line-height: 26px;
		&::before{
			content: '►';
			position: absolute;
			left: -20px;
		}
	}
}