html {
	font-size: 16PX;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1{
  @include fluidFontSize(48px,60px,1024px,1680px);
  font-weight: 400;
  //text-transform: uppercase;
  
  &.small{
    @include fluidFontSize(25px,48px,1024px,1680px);
  }
}

h2{
  @include fluidFontSize(22px,36px,1024px,1680px);
  font-weight: normal;
  
  &.small{
    @include fluidFontSize(18px,30px,1024px,1680px);
    font-weight: normal;
  }
  
  &.underline_bottom-offset{
    @extend h2;
    margin-bottom: 26px;
    position: relative;
    display: inline-block;
    
    &::after{
      content: '';
      position: absolute;
      height: 3px;
      background-color: #000;
      bottom: -4px;
      right: 0;
      left: 0;
    }
  }
}

h4{
  font-size: 24px;
  font-weight: 700;
}

p {
	margin: 0 0 16px;
}

ul,
ol {
	margin: 0;
  padding: 0;
	list-style: none;
	ul,
	ol {
		margin: 0;
    padding: 0;
		list-style: none;
	}
}

a {
	color: $link-color;
	text-decoration: none;
	outline: none !important;
	transition: color .2s ease-in-out;

	&:hover,
	&:focus {
		color: $link-hover-color;
		text-decoration: none;
	}

  &.btn{
    &:hover{
      color: #d0b37b;
      transition: color .2s ease-in-out;
    }
  }
}

.list-unstyled {
	@include list-unstyled;
}

.list-inline {
	@include list-unstyled;
	> li {
		display: inline-block;
	}
}

.list-justify {
	@include list-unstyled;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: justify;
	> li {
		display: inline-block;
	}
	&::after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 0;
	}
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted;
}

.text-black{
	color: black;
}
