// переменные проекта

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$path-fonts:    "../fonts"; // путь к директории со шрифтами

$font-size-base: 16px !default;
$line-height-base: 1.2 !default;

$footer-height: 100px;


// переменные Цвета
// *************************************************************************
$brown: #D0B37B;
$beige: #F4D7AB;
$gray: #F4F4F4;
$dark-blue: #002C4D;

$brand-primary: $purple;
$brand-secondary: $green;

// --------------------------------------------------
$body-bg: white !default;
$text-color: black !default;
$text-dark-blue: #002C4D;


// --------------------------------------------------
$input-border: $cyan !default;
$input-bg: transparent !default;
$input-bg-disabled: $gray !default;
$input-color: black !default;
$input-border-focus: $blue !default;
$input-color-placeholder: $red !default;

