<ul class="list-inline">
    
    
    
    
<li>
    <a href="#">
        Вино
        
    </a>
</li>

    
    
<li>
    <a href="#">
        Шампанское и игристые вина
        
    </a>
</li>

    
    
<li>
    <a href="#">
        Водка
        
    </a>
</li>

    
    
<li>
    <a href="#">
        Виски / Джин
        
    </a>
</li>

    
    
<li>
    <a href="#">
        Пиво
        
    </a>
</li>

    
    
<li>
    <a href="#">
        Вода и соки
        
    </a>
</li>

    
    
<li>
    <a href="#">
        Наборы
        
    </a>
</li>

    
    
<li>
    <a href="#">
        Бренды
        
    </a>
</li>

    
</ul>
