.article-title-wrap {
	color: #000000;
    @include fluidFontSize(26px,36px,1024px,1680px);
    font-weight: 400;
	padding-bottom: 12px;
	.article-title{
		position: relative;
		display: inline-block;
		padding-bottom: 12px;
		&-after{
			content: '';
			position: absolute;
			height: 3px;
			background: #000;
			@include fluidPaddingLeft(460px,660px,1024px,1680px);
			bottom: 0;
			left: 0;
		}
	}
}





.about-gold{
	padding: 30px 0 73px 0;
	&__description{
		display: flex;
		justify-content: space-between;
		&-left{
			width: 49%;
		}
		&-right{
			width: 49%;
		}
	}
	&__img{
		height: 343px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__words{
		min-height: 200px;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		line-height: 24px;
	}
}


.about-items{
	padding: 0 0 32px 0;
	&__title{
		font-size: 20px;
		color: $dark-blue;
	}
}

.about-items__contain{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 21px 0 0 0;
	.about-items__item-wrap{
		margin: 0 88px 0 0;
		max-width: 352px;
		.about-items__item{
			display: flex;;
			justify-content: space-between;
			flex-flow: column;
			&-title{
				font-size: 14px;
				color: $dark-blue;
				line-height: 24px;
				font-weight: bold;
				padding: 0 0 5px 0;
			}
			&-img{
				width: 352px;
				img{
					width: 100%;
				}
			}
		}
	}
}


.about-mission{
	padding: 33px 0;
	.advantages__banner-wrap{
		margin: 55px 0 0 26px;
		height: 797px;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		.advantages__banner{
			transform: translate(-30px, -45px);
			bottom: 308px;
			@media (min-width: 1024px) and (max-width: 1680px) {
				bottom: fs(460, 308, 1024, 1680);
			}
			.title{
				padding: 23px 11px 7px 11px;
			}
			.text-uppercase{
				@include fluidFontSize(18px,24px,1024px,1680px);
				text-transform: capitalize;
			}
			.title-small{
				margin-top: 0;
				@include fluidFontSize(26px,36px,1024px,1680px);
			}
		}
	}
}


.values{
	padding: 7px 0 15px 0;
	@include fluidPaddingLeft(15px,45px,1024px,1680px);
	width: calc(100% - 31.5%);
	&__head{
		font-size: 36px;
		text-transform: uppercase;
	}
	&__body{
		padding: 33px 0;
		display: flex;
		flex-flow: wrap;
		justify-content: flex-end;
		&-title{
			font-size: 18px;
			color: $dark-blue;
			font-weight: bold;
		}
		&-points{
			ul{
				@include fluidPaddingRight(20px,120px,1024px,1680px);
				li{
					list-style-type: disc;
					text-indent: 20px;
					margin: 0 0 20px 0;
				}
			}
		}
	}
}


.values-article{
	width: 50%;
	padding: 0 20px 0 0;
}


.corporate{
	padding: 40px 0 60px;
	&__codex{
		width: calc(100% - 31.5%);
		padding-top: 20px;
		@include fluidPaddingRight(15px, 41px, 1024px, 1680px);
		&-description{
			p{
				font-family: "HelveticaNeueCyr", sans-serif;
				line-height: 26px;
			}
			ul{
				list-style-type: disc;
				text-indent: 20px;
				li:not(:last-child){
					margin: 0 0 30px 0;
				}
			}
		}
	}
	.advantages__banner-wrap{
		margin: 0 0 0 26px;
		height: 647px;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		.advantages__banner{
			transform: translate(-30px, 9px);
			bottom: 236px;
			@media (min-width: 1024px) and (max-width: 1680px) {
				bottom: fs(350, 236, 1024, 1680);
			}
		}
	}
}


.governance{
	padding: 31px 0 45px;
	&-soviet{
		&__points{
			&-block{
				width: 50%;
				&:first-child{
					padding: 0 38px 0 0;
				}
				ul{
					li{
						margin: 0 0 25px 0;
						position: relative;
						text-indent: 20px;
						line-height: 26px;
						&::before{
							content: '►';
							position: absolute;
							left: -20px;
						}
					}
				}
			}
		}
	}
}

.persons-wrap{
	padding: 30px 0;
}

.rule{
	padding: 70px 0 47px 0;
}

.rule-persons-wrap{
	.advantages__banner-wrap-outside--persons{
		width: 32%;
		.advantages__banner--photo{
			right: 50%;
			bottom: 0;
			top: 0;
		}
		.advantages__banner-wrap--margin{
			display: flex;
			padding: 0;
			@include fluidPaddingLeft(100px,200px,1024px,1680px);
			.advantages-description{
				justify-content: space-evenly;
			}
		}
	}
}


.committee{
	padding: 30px 0;
}