.activity-detail {
  @include breakpoint-down(md){
    .title-wrapper::after {
      bottom: -40px;
    }
  }
  .swiper-slide{
  }
  
  &-content{
    padding-bottom: 30px;
  }
  
  h2 {
    color: #000;
    @include breakpoint-down(md){
      text-align: center;
    }
  }
  
  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000;
  }
  
  .article-wrap{
    width: 50%;
    @include fluidPaddingRight(60px,128px,1024px,1680px);
    @include breakpoint-down(md){
      width: 100%;
      padding-right: 0;
    }
  }
  
  &__info-wrap{
    width: 50%;
    @include breakpoint-down(md){
      width: 100%;
      margin-top: 40px;
    }
  }
  
  &__info{
    background: #FFFFFF;
    border: 5px solid #000000;
    @include fluidPaddingBottom(30px,80px,1024px,1680px);
    @include fluidPaddingTop(30px,80px,1024px,1680px);
    @include fluidPaddingRight(5px,20px,1024px,1680px);
    @include fluidPaddingLeft(5px,20px,1024px,1680px);
    display: flex;
    flex-wrap: wrap;
  }
  
  &__item{
    margin-bottom: 40px;
    width: 50%;
    padding: 0 15px;
    @include breakpoint-down(md){
      width: 100%;
      margin-bottom: 18px;
    }
    
    i{
      color: #F4D7AB;
      @include fluidFontSize(34px,45px,1024px,1680px);
      margin-right: 12px;
    }
  }
  
  &__item-title{
    font-weight: bold;
    @include fluidFontSize(16px,18px,1024px,1680px);
    color: #002C4D;
    margin-bottom: 6px;
  }
  
  &__item-desc{
    font-weight: normal;
    @include fluidFontSize(14px,16px,1024px,1680px);
    line-height: 26px;
    color: #000;
  }
}
