.advantages{
  margin-bottom: 115px;
  
  &__banner-wrap{
    width: 495px;
    height: 510px;
    border: 5px solid #000000;
    position: relative;
    margin: 0 26px 55px 0;
  }
  
  &__banner-wrap-outside{
    width: 31.5%;
  }
  
  
  &__banner{
    @include stretch(-15px, 0, -15px, 0);
    background-position: center;
    background-size: cover;
    transform: translate(30px, 45px);
    
    .title{
      color: #000000;
      font-size: 48px;
      font-weight: 400;
      padding: 45px 5px 5px 15px;
      
      &-small{
        font-size: 30px;
        margin-top: 40px;
      }
    }
  }
  
  &__article{
    padding: 20px 0 0 35px;
    width: calc(100% - 31.5%);
    display: flex;
    flex-wrap: wrap;
    
    article{
      width: 50%;
      padding: 27px 20px;
    }
    
    .icon-article{
      font-size: 80px;
      margin-right: 8px;
      color: #f4d7ab;
    }
    
    h4{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      a{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
