.banner{
  @include fluidHeight(430px,730px,1024px,1680px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  position: relative;
  .flex{
    height: 100%;
  }
  .container-fluid{
    height: 100%;
    z-index: 1;
    position: relative;
  }
  .title-wrapper{
    &::after{
      top: -60px;
      bottom: -80px;
    }
  }
}

.activity-detail-content,
.growth-projects-content,
.digital-mine-content,
.mine-to-mill-content,
.sana-safety-content,
.place-of-birth-content{
  @include breakpoint-down(md){
    margin-top: -50px;
  }
}

.title-wrapper{
  margin-top: 90px;
  position: relative;
  transition: width .4s ease-in;
  
  &::after{
    content: '';
    z-index: -1;
    position: absolute;
    background: linear-gradient(327.14deg, #D0B37B 21.09%, rgba(196, 196, 196, 0) 94.03%);
    top: -40px;
    bottom: -45px;
    left: -100%;
    right: -55px;
    @include breakpoint-down(md){
      bottom: -2px;
    }
  }

  @include breakpoint-down(md){
    margin-top: 20px;
    width: 100%;
  }
}

.h1-wrap{
  h1{
    position: relative;
    color: #fff;
    
    &::after{
      content: '';
      position: absolute;
      background: #fff;
      bottom: -16px ;
      height: 5px;
      left: -100%;
      right: 0;

      @include breakpoint-down(md){
        height: 2px;
        bottom: -8px;
      }
    }
    
    .big-font{
      @include fluidFontSize(38px,60px,1024px,1680px);

      @include breakpoint-down(md){
        font-size: 20px;
      }
    }
  }
}
