.footer {
  background: $gray-bg;
  height: 82px;
  @include breakpoint-down(md) {
	  height: auto;
    & > .flex.justify-content-between {
      flex-direction: column;
    }
  }
}

[data-template="index"] {
  .footer {
    background: #fff;
  }
}

.nav-footer {
  line-height: 61px;

  ul {
    display: flex;
    margin-bottom: 0;
    padding-inline-start: 0;
    @include breakpoint-down(md) {
      justify-content: space-between;
    }

    li:not(:last-child) {
      margin: 0 23px 0 0;
      @include breakpoint-down(md) {
        margin: 0;
      }
    }

    li {
      a {
        color: #000;

        &:hover {
          color: $brown;
        }
      }
    }
  }
}

.maint {
  display: block;
  line-height: 61px;
  @include breakpoint-down(md) {
    width: 130px;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }
}
