.footer {
	background: $gray-bg;
	height: 82px;
}

.nav-footer{
	line-height: 61px;
	ul{
		display: flex;
		margin-bottom: 0;
		padding-inline-start: 0;
		li:not(:last-child){
			margin: 0 23px 0 0;
		}
		li{
			a{
				color: #000;
				&:hover{
					color: $brown;
				}
			}
		}
	}
}

.maint {
	display: block;
	line-height: 61px;
}
