.header {
  border-bottom: solid 6px #d0b37b;
  padding: 6px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
  background-color: #fff;
  
  .container-fluid{
    position: relative;
  }
}

.logo{
  color: #002c4d;
  font-size: 76px;
  
  &_right-offset{
    @extend .logo;
    margin-right: 30px;
  }
  
  &:hover{
    color: #d0b37b;
  }
}
