.header {
  border-bottom: solid 6px #d0b37b;
  padding: 6px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
  background-color: #fff;
  @include breakpoint-down(md) {
    padding: 10px 0;

    &::after {
      content: '';
      position: absolute;
      width: 140px;
      height: 86px;
      background-color: #fff;
      border: solid 6px #d0b37b;
      border-radius: 50%;
      margin: 0 auto;
      top: 0;
      right: 0;
      left: 0;
      clip-path: polygon(0% 100%, 100% 100%, 100% 60.5%, 0% 60.5%);
    }
  }

  .container-fluid {
    position: relative;
  }
}

.logo {
  color: #002c4d;
  font-size: 76px;

  @include breakpoint-down(md) {
    font-size: 66px;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    z-index: 2;
  }

  &_right-offset {
    @extend .logo;
    margin-right: 30px;

    @include breakpoint-down(md) {
      margin: 0 auto;
    }
  }

  &:hover {
    color: #d0b37b;
  }
}

.search {
  position: relative;
  z-index: 3;

  i {
    cursor: pointer;
    transition: color .3s ease-in-out;

    &:hover {
      color: #d0b37b;
    }
  }
}

.icon-search {
  font-size: 28px;
}

.cost-wrap {
  @include fluidPaddingLeft(10px, 56px, 1024px, 1680px);
  @include breakpoint-down(md) {
    display: none;
  }

  .cost {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.lang-switch {
  position: relative;
  margin-left: 30px;
  cursor: pointer;

  &:hover .lang-wrap {
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: #000;
    width: 1px;
    height: 35px;
    top: -10px;
    left: -15px;
  }

  .lang {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    cursor: pointer;
  }

  .lang-wrap {
    display: none;
    position: absolute;
    background-color: rgba(#fff, .7);
    top: 100%;
    left: -8px;
    padding: 2px 8px;

    a {
      color: black;
      padding: 10px 0;
      text-decoration: none;
      display: block;
      transition: color .3s ease-in;

      &:hover {
        color: #d0b37b;
      }
    }
  }
}

.logo-wrap {
  @include breakpoint-down(md) {
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
  }
}

.youtube-link {
  color: #000;
  display: flex;
  font-size: 20px;
  //margin-left: 10px;
  @include fluidPaddingLeft(10px, 20px, 1024px, 1688px);

  &:hover {
    color: #FF0015;
  }
}

.lang__wrap {
  position: absolute;
}

.mobile-menu-icon {
  display: none;

  @include breakpoint-down(md) {
    display: block;
    position: relative;
    z-index: 3;
    margin-right: 20px;
    font-size: 22px;
  }
}

.link-wrap {
  display: flex;
  align-items: center;
  margin-top: 1.125rem;

  .youtube-link {
    font-size: 24px;
    display: flex;
    align-items: center;

    i {
      margin-left: 10px;
      font-size: 30px;
    }
  }

  .btn-detail{
    margin-top: 0;
  }
}
