.title-page{
  color: #1e1e1c;
  font-family: "SimeizDemiC";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 41px;
  background-color: #fefcf9;
  padding: 0 18px;
  z-index: 2;
  
  &__wrapper{
    display: flex;
    justify-content: center;
    margin-top: 110px;
    position: relative;
    
    &::after{
      content: '';
      position: absolute;
      height: 1px;
      background-color: #b29c77;
      left: 0;
      right: 0;
      top: 17px;
    }
  }
}
