.mainTopSlider {
  @include fluidHeight(430px,730px,1024px,1680px);
  position: relative;
  margin-bottom: 90px;
  
  .swiper {
    &-container {
      @include stretch();
    }
    
    &-slide {
      width: 93%;
      background-position: center;
      background-size: cover;
    }
  }
  
  .container-fluid {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  
  .flex {
    height: 100%;
  }
  
  .btn-slide-prev {
    margin-bottom: 2px;
  }
  
  .text-normal {
    width: 500px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  
  .arrow-wrapper {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
  }
  
  .slide-title {
    color: #012d49;
    font-weight: 400;
    line-height: 30px;
    margin-top: 60px;
    @include fluidFontSize(18px,30px,1024px,1680px);
    transition: opacity .7s ease-in;
    width: 584px;
    height: 60px;
  }
}

[data-template="history"],
[data-template="main-deposits"],
[data-template="place-of-birth"],
[data-template="mine-to-mill"],
[data-template="sana-safety"],
[data-template="digital-mine"],
[data-template="studying-programs"],
[data-template="our-values"],
[data-template="photo-gallery"],
[data-template="team-of-trainers"],
[data-template="corporate-newspaper"],
[data-template="growth-projects"]{
  .swiper {
    &-slide {
      width: 100%;
    }
  }
  
  .arrow-wrapper{
    display: none;
  }
  
}
