.mainTopSlider {
  height: 560px;
  position: relative;
  
  .swiper {
    &-container {
      @include stretch();
    }
    
    &-slide {
      width: 93%;
      background-position: center;
      background-size: cover;
    }
  }
  
  .container {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  
  .flex {
    height: 100%;
  }
  
  .btn-slide-prev {
    margin-bottom: 2px;
  }
  
  .text-normal {
    width: 500px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  
  .arrow-wrapper {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
  }
  
  .slide-title {
    color: #012d49;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 60px;
    transition: opacity .7s ease-in;
  }
}
