.mine-to-mill-content {
  margin-bottom: 30px;
  @include breakpoint-down(md) {
    & > .flex {
      flex-direction: column;
    }
  }

  article {
    width: 34%;
    @include breakpoint-down(md) {
      width: 100%;

      h2 {

      }
    }
  }

  .border-wrapper {
    padding: 32px 40px;
    width: 45%;
    margin-right: 30px;
    @include breakpoint-down(md) {
      width: 100%;
      margin-right: 0;
      padding: 15px 20px;
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #002C4D;
    margin-bottom: 26px;
    @include breakpoint-down(md){
      margin-bottom: 10px;
    }
  }

  .desc {
    padding-left: 14px;
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    margin-top: 26px;
  }

  .list-mine-to-mill {
    li {
      padding-left: 14px;
      position: relative;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      color: #000;

      &:not(:last-child) {
        margin-bottom: 26px;
        @include breakpoint-down(md){
          margin-bottom: 10px;
        }
      }

      &::before {
        content: '';
        position: relative;
        width: 4px;
        height: 4px;
        background-color: #000;
        border-radius: 50%;
        top: 50%;
        display: inline-block;
        transform: translate(0, -50%);
      }
    }
  }

  .right-side {
    width: 63%;
    @include breakpoint-down(md) {
      width: 100%;
      flex-direction: column;
    }
  }
}

.border-wrapper {
  border: 3px solid #000000;
}
