.mobile-menu {
  display: none;

  @include breakpoint-down(md) {
    display: block;

    .mobile-menu {
      &__drop {
        padding: 10px 20px 10px 0;
        font-size: 19px;
        border-bottom: solid 1px #000;
        overflow: hidden;

        &:first-child {
          border-top: solid 1px #000;
        }
      }

      &__dropdown {
        padding-left: 18px;
        padding-top: 10px;
        display: none;
      }

      &__drop-content {
        padding-left: 18px;
      }

      &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        i{
          transform: rotate(0);
          transition: transform .3s ease-in-out;
        }

        &.active{
          i{
            transform: rotate(90deg);
          }
        }
      }


      &__link {
        color: #000;
        font-size: 16px;
        line-height: 28px;

        &_small {
          color: #000;
          font-size: 16px;
          line-height: 28px;
        }
      }
    }
  }
}

.active + .mobile-menu__dropdown {
  display: block;
}

.stop-scroll{
  overflow: hidden;
}