.nav-main {
  margin: 0;
  
  li{
    margin-left: 51px;
    
    &:first-child{
      margin-left: 44px;
    }
  }
  
  a{
    color: #000000;
    font-family: "HelveticaNeueCyr";
    font-size: 12px;
    font-weight: 400;
    line-height: 33.9px;
  }
}
