@include breakpoint-up(md){
  .nav-main {
    & > ul {
      & > li {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
      
      a {
        color: #000;
        font-size: 14px;
        position: relative;
        font-weight: 700;
        transition: color .4s ease-in-out;
        text-transform: uppercase;
        
        &:hover{
          color: #D0B37B;
        }

        .menu-icon{
          display: none;
        }
      }
    }
  }

  .active{
    & > .link{
      color: #fff !important;

      .menu-title{
        color: #fff !important;
      }

      .menu-icon{
        display: block !important;

        i{
          color: #fff !important;
        }
      }
    }
  }
}

@include breakpoint-down(md){
  .nav-main{
    display: none;
  }

  .mobile-display-block{
    display: block !important;
  }

  .search-lang-wrap{
    width: 100%;
    justify-content: space-between;
  }

  .mobile-menu-wrap{
    position: fixed;
    top: 58px;
    bottom: 0;
    left: 0;
    width: 85%;
    background-color: #fff;
    padding: 50px 0 20px 15px;
    overflow-y: auto;
    transform: translate(-100%, 0);
    transition:  all .4s ease-in-out;

    &.show{
      transform: translate(0);
      @include breakpoint-down(md){
        overflow-x: hidden;
      }
    }

    .nav-main{
      display: block;

      .mobile-display-block{
        &>li{
          border-bottom: solid 1px #8b8b8b;
          position: relative;
          padding: 10px 0;
          max-height: 50px;

          &.dropdownShow{
            max-height: 400px;
          }
        }
      }

      a{
        color: #000;
        display: block;
      }
    }
  }
}

[href="hide"]{
  display: none;
}
