.nav-main {
  
  
  & > ul {
    & > li {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    
    a {
      color: #000000;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
