.number-day{
  background: #FFF;
  border: 1px solid #000;
  margin-top: 80px;
  padding: 12px;
  right: 10px;
  z-index: 9;
  height: 200px;
  
  .swiper-container{
    height: 100%;
  }
  
  &__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #D0B37B;
    margin-bottom: 8px;
  }
  
  &__number{
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    color: #000;
    margin-bottom: 14px;
    @include breakpoint-down(md){
      font-size: 27.2px;
      line-height: 36.8px;
      margin-bottom: 11.2px;
    }
  }
  
  &__description{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  
  &__close{
    display: flex;
    justify-content: flex-end;
    margin-top: 17px;
  }
}
