.our-partners{
  .main-deposits__item{
    border: .3125rem solid #000;
    margin: 15px;
    @include breakpoint-down(md){
      flex-direction: column;
    }

    &-photo {
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
      transition: background-size .2s ease-in;
      padding-top: 80%;
      margin-bottom: 0;
      @include breakpoint-down(md){
        background-size: 40%;
        padding-top: 40%;
      }
      &:hover{
        background-size: 80%;
        @include breakpoint-down(md){
          background-size: 40%;
        }
      }
    }

    &-title{
      font-size: 28px;
      @include fluidFontSize(22px, 28px, 1024px, 1680px);
      padding-top: 20px;

      @include breakpoint-down(md){
        font-size: 22px;
        padding: 10px;
        text-align: center;
      }
    }
  }

  .main-deposits__items{
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
  }
}