.place-of-birth {
  .mainTopSlider .swiper-slide {
    background-position-y: -480px;
  }
  
  &-content {
    margin-bottom: 40px;
  }
  
  &__mapImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 75%;
    
    .ratio {
      padding-top: ratio(683px, 1114);
    }
  }
  
  &__info {
    width: 25%;
    padding-left: 20px;
    
    
    &-title {
      font-weight: normal;
      @include fluidFontSize(20px,36px,1024px,1680px);
      line-height: 30px;
      color: #000;
      position: relative;
      margin-bottom: 24px;
      
      &::after {
        content: '';
        position: absolute;
        background: #000;
        height: 3px;
        right: 0;
        bottom: -12px;
        left: -131%;
      }
    }
    
    &-description {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #000;
    }
  }
  
  &__item{
    &:first-child{
      @include fluidMarginTop(50px,125px,1024px,1680px);
    }
    
    &:nth-child(2){
      @include fluidMarginTop(105px,250px,1024px,1680px);
    }
  }
}
