.suppliers {
	padding: 30px 0 70px;
	.article-title-wrap {
		padding: 0 0 30px 0;
		.article-title-after {
			padding-left: 570px;
			@include fluidPaddingLeft(400px, 570px, 1024px, 1680px);
			@include breakpoint-down(md){
				padding: 0;
			}
		}
	}
}

.to-suppliers {
	width: 50%;
	@include fluidPaddingRight(40px, 76px, 1024px, 1680px);
	@include breakpoint-down(md){
		width: 100%;
		padding: 0;
	}
	.to-suppliers__description {
		ul {
			li {
				margin: 0 0 25px 0;
				position: relative;
				text-indent: 25px;
				line-height: 26px;
				&::before {
					content: "►";
					position: absolute;
					left: -25px;
				}
				@include breakpoint-down(md){
					margin-bottom: 10px;
				}
			}
		}
	}
}

.suppliers__form {
	width: calc(100% - 50%);
	padding: 27px 0 0;
	@include fluidPaddingLeft(0, 76px, 1024px, 1680px);
	@include breakpoint-down(md){
		width: 100%;
	}
	&-headline {
		color: $dark-blue;
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		@include breakpoint-down(md){
			padding-bottom: 16px;
		}
	}
	&-body {
		display: flex;
		flex-flow: wrap;
		border: 5px solid #000000;
		padding: 65px 35px 34px 32px;
		@include breakpoint-down(md){
			padding: 20px 15px;
			flex-direction: column;
		}

		.suppliers__block {
			width: 50%;
			display: flex;
			flex-flow: column;
			@include breakpoint-down(md){
				width: 100%;
				padding: 0;
			}

			a:not(.btn) {
				display: block;
				color: $dark-blue;
				margin: 7px 0 0;
				&:hover {
					color: $brown;
				}
			}
			&:not(:last-child) {
				padding: 0 40px 0 0;
				@include breakpoint-down(md){
					padding: 0;
				}
			}
			&-head {
				font-size: 36px;
				color: $dark-blue;
				font-weight: 300;
				text-transform: uppercase;
				padding: 0 0 28px;
				@include breakpoint-down(md){
					padding-bottom: 10px;
					font-size: 24px;
				}
			}
			&-body {
				line-height: 20px;
				padding: 0 0 33px;
				@include breakpoint-down(md){
					padding-bottom: 10px;
				}
			}
			&-footer {
				height: 100%;
				.btn-detail {
					margin: 20px 0 0;
					@include breakpoint-down(md){
						margin: 0 0 35px;
					}
				}
			}
		}
	}
}

.principles {
	padding: 81px 0 0;
	@include breakpoint-down(md){
		padding: 30px 0;

		.container-fluid > .flex{
			flex-direction: column;
		}
	}
	&__lists {
		width: 30%;
		@include breakpoint-down(md){
			width: 100%;
		}
	}

	&__lists-head {
		font-size: 18px;
		font-weight: bold;
		color: $dark-blue;
		margin: 0 0 10px;
		@include breakpoint-down(md){
			margin-top: 12px;
		}
	}
	&__lists-body {
		ul {
			li {
				margin: 0 0 25px 0;
				position: relative;
				text-indent: 25px;
				line-height: 26px;
				@include breakpoint-down(md){
					margin-bottom: 10px;
					line-height: normal;
				}
				&::before {
					content: "►";
					position: absolute;
					left: -25px;
				}
			}
		}
	}
}

.realization {
	padding: 68px 0 80px;
	&__block {
		width: 40%;
	}

	&__block-title {
		color: $dark-blue;
		font-size: 18px;
		font-weight: bold;
		height: 80px;
	}

	&__block-body {
		.btn-detail {
			margin: 33px 0 0;
		}
		p {
			a {
				color: #000;
				&:hover {
					color: lighten($dark-blue, 20%);
				}
			}
		}
	}
}
