.subheader {
  position: relative;
  z-index: 3;
  
  a {
    color: inherit;
    font-family: "HelveticaNeueCyr";
    font-size: 14px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    transition: color .3s ease-in-out;
    
    &::before{
      content: '';
      width: 0;
      height: 2px;
      background-color: transparent;
      margin: -3px 6px 0 0;
      transition: all .3s ease-in-out;
    }
  }
  
  ul{
    margin: 12px 0 0 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li{
    border-right: solid 1px #d2b78c;
    display: flex;
    justify-content: center;
    flex-grow: .5;
    
    &.active{
      a{
        color: #ffa337;
        
        &::before{
          width: 23px;
          background-color: #ffa337;
        }
      }
    }
    
    &:hover{
      a{
        color: #ffa337;
    
        &::before{
          width: 23px;
          background-color: #ffa337;
        }
      }
    }
    
    &:first-child{
      justify-content: flex-start;
      a{
        padding-left: 0;
      }
    }
    
    &:last-child{
      border: none;
    }
  }
}
