<ul>
    <li class="mobile-menu__drop">
        <div class="mobile-menu__title-wrap toggle">
            <div class="mobile-menu__title">
                О компании
            </div>

            <i class="icon-right"></i>
        </div>

        <div class="mobile-menu__dropdown">
            <ul>
                <li>
                    <a class="mobile-menu__link"
                       href="about.html">
                        О компании
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="about-mission.html">
                        Миссия
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       class="link " href="history.html">
                        История
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="/main-deposits.html">
                        Основные направления деятельности
                    </a>
                </li>
                <li>
                    <a class="mobile-menu__link"
                       href="/corporate.html">
                        Корпоративное управление
                    </a>
                    <div class="mobile-menu__drop-content">
                        <ul>
                            <li>
                                <a class="mobile-menu__link_small"
                                   href="corporate.html">
                                    Корпоративное управление
                                </a>

                            </li>
                            <li>
                                <a class="mobile-menu__link_small"
                                   href="/governance.html">
                                    Руководство компании
                                </a>
                            </li>
                            <li>
                                <a class="mobile-menu__link_small"
                                   href="/committee.html">
                                    Комитеты Совета Директоров
                                </a>
                            </li>
                            <li>
                                <a class="mobile-menu__link_small"
                                   href="https://kase.kz/ru/issuers/ALMS/">
                                    Раскрытие информации
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class="mobile-menu__drop">
        <div class="mobile-menu__title-wrap toggle">
            <div class="mobile-menu__title">
                Активы
            </div>

            <i class="icon-right"></i>
        </div>

        <div class="mobile-menu__dropdown">
            <ul>
                <li>
                    <a class="mobile-menu__link"
                       href="activity-detail.html">
                        Операционная деятельность
                    </a>

                    <ul class="mobile-menu__drop-content">
                        <li>
                            <a class="mobile-menu__link"
                               href="activity-detail.html">
                                Акбакай
                            </a>
                        </li>

                        <li>
                            <a class="mobile-menu__link"
                               href="/activity-detail2.html">
                                Актогай
                            </a>

                        </li>
                    </ul>
                </li>


                <li>
                    <a class="mobile-menu__link"
                       href="growth-projects.html">
                        Проекты роста
                    </a>
                </li>


                <li>
                    <a class="mobile-menu__link"
                       href="place-of-birth.html">
                        Месторождения
                    </a>
                </li>


                <li>
                    <a class="mobile-menu__link"
                       href="digital-mine.html">
                        Проекты
                    </a>

                    <ul class="mobile-menu__drop-content">
                        <li>
                            <a class="mobile-menu__link"
                               href="digital-mine.html">
                                Цифровой рудник
                            </a>
                        </li>

                        <li>
                            <a class="mobile-menu__link"
                               href="mine-to-mill.html">
                                Mine to mill
                            </a>
                        </li>

                        <li>
                            <a class="mobile-menu__link"
                               href="sana-safety.html">
                                Sana Safety
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    <li class="mobile-menu__drop">
        <div class="mobile-menu__title-wrap toggle">
            <div class="mobile-menu__title">
                Устойчивое рвзвитие
            </div>

            <i class="icon-right"></i>
        </div>

        <div class="mobile-menu__dropdown">
            <ul>
                <li>
                    <a class="mobile-menu__link"
                       href="development.html">
                        Безопасность
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="development-environment.html">
                        Экология
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="development-staff.html">
                        Сотрудники
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="development-estate.html">
                        Местные сообщества
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="hide">
                        Отчет об устойчивом развитии
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="mobile-menu__drop">
        <div class="mobile-menu__title-wrap toggle">
            <div class="mobile-menu__title">
                Карьера
            </div>

            <i class="icon-right"></i>
        </div>

        <div class="mobile-menu__dropdown">
            <ul>
                <li>
                    <a class="mobile-menu__link"
                       href="career.html">
                        Почему мы?
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="career-vacancy.html">
                        Вакансии
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="career-jastar.html">
                        Молодым специалистам
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="studying-programs.html">
                        Программы обучения
                    </a>
                </li>

                <li>
                    <div class="mobile-menu__link">
                        Корпоративная культура
                    </div>
                    <ul class="mobile-menu__drop-content">
                        <li>
                            <a class="mobile-menu__link"
                               href="our-values.html">
                                Наши ценности
                            </a>
                        </li>

                        <li>
                            <a class="mobile-menu__link"
                               href="corporate-newspaper.html">
                                Корпоративная газета
                            </a>
                        </li>

                        <li>
                            <a class="mobile-menu__link"
                               href="photo-gallery.html">
                                Фотогалерея
                            </a>
                        </li>
                    </ul>
                </li>


                <li>
                    <div class="mobile-menu__link">
                        Команда тренеров
                    </div>
                    <ul class="mobile-menu__drop-content">
                        <li>
                            <a class="mobile-menu__link"
                               href="team-of-trainers.html">
                                Команда тренеров
                            </a>
                        </li>
                        <li>
                            <a class="mobile-menu__link"
                               href="career-contacts.html">
                                Контакты для соискателей
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    <li class="mobile-menu__drop">
        <div class="mobile-menu__title-wrap toggle toggle">
            <div class="mobile-menu__title">
                Поставщикам
            </div>

            <i class="icon-right"></i>
        </div>

        <div class="mobile-menu__dropdown">
            <ul>
                <li>
                    <a class="mobile-menu__link"
                       href="suppliers.html">
                        Стать поставщиком
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="suppliers-principles.html">
                        Принципы закупочной политики
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="suppliers-realization.html">
                        Реализация неликвидов
                    </a>
                </li>

                <!--                <li>-->
                <!--                    <a class="mobile-menu__link"-->
                <!--                       href="">-->
                <!--                            Электронные закупки-->
                <!--                    </a>-->
                <!--                </li>-->

                <li>
                    <a class="mobile-menu__link"
                       href="suppliers-contacts.html">
                        Контакты для поставщиков
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="mobile-menu__drop">
        <div class="mobile-menu__title-wrap toggle">
            <div class="mobile-menu__title">
                Инвесторы и сми
            </div>

            <i class="icon-right"></i>
        </div>

        <div class="mobile-menu__dropdown">
            <ul>
                <li>
                    <a class="mobile-menu__link"
                       href="investors-and-media.html">
                        Новости
                    </a>
                </li>

                <li>
                    <a class="mobile-menu__link"
                       href="investors-contacts.html">
                            Контакты
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>