{% set list = [
    {
        name: 'О компании',
        url: 'about.html',
        namespace: 'about',
        items: [
            {
                name: 'О компании',
                url: 'about.html',
                icon: 'icon-right'
            },
            {
                name: 'Миссия',
                url: 'about-mission.html'
            },
            {
                name: 'История',
                url: 'history.html',
                namespace: 'history'
            },
            {
                name: 'Основные направления деятельности',
                url: '/main-deposits.html',
                namespace: 'main-deposits'
            },
            {
                name: 'Корпоративное управление',
                url: '/corporate.html',
                namespace: 'main',
                items: [
                {
                    name: 'Корпоративное управление ',
                    url: 'corporate.html',
                    namespace: 'main'
                },
                {
                    name: 'Руководство компании',
                    url: '/governance.html',
                    namespace: 'main'
                },
                {
                    name: 'Комитеты Совета Директоров',
                    url: '/committee.html',
                    namespace: 'main'
                },
                {
                    name: 'Раскрытие информации',
                    url: 'https://kase.kz/ru/issuers/ALMS/',
                    namespace: 'main'
                }
                ]
            }
        ]
    },
    {
        name: 'Активы',
        url: 'assets.html',
        namespace: 'assets',
        items: [
            {
            name: 'Операционная деятельность',
            url: 'activity-detail.html',
            icon: 'icon-right',
            items: [
                {
                    name: 'Акбакай',
                    url: 'activity-detail.html',
                    namespace: 'activity-detail'
                },
                {
                    name: 'Актогай',
                    url: '/activity-detail2.html',
                    namespace: 'main'
                }
            ]
            },
            {
            name: 'Проекты роста',
            url: 'growth-projects.html'
            },
            {
            name: 'Месторождения',
            url: 'history.html',
            namespace: 'history'
            },
            {
            name: 'Проекты',
            url: '/main-deposits.html',
            namespace: 'main-deposits',
            items: [
                {
                    name: 'Цифровой рудник',
                    url: 'corporate.html',
                    namespace: 'main'
                },
                {
                    name: 'Mine to mill',
                    url: '/governance.html',
                    namespace: 'main'
                },
                {
                    name: 'Sana Safety',
                    url: '',
                    namespace: ''
                }
            ]
            }
        ]
    },
    {
        name: 'Устойчивое развитие',
        url: 'development.html',
        namespace: 'development'
    },
    {
        name: 'Карьера',
        url: 'career.html',
        namespace: 'career'
    },
    {
        name: 'Поставщикам',
        url: 'to-suppliers.html',
        namespace: 'to-suppliers'
    },
    {
        name: 'ИНВЕСТОРЫ И СМИ',
        url: 'investors-and-media.html',
        namespace: 'investors-and-media'
    }
] %}
