{% set list = [
    {
        name: 'О компании',
        url: 'about.html',
        namespace: 'about'
    },
    {
    name: 'Активы',
    url: 'assets.html',
    namespace: 'assets'
    },
    {
    name: 'Устойчивое развитие',
    url: 'development.html',
    namespace: 'development'
    },
    {
    name: 'Карьера',
    url: 'career.html',
    namespace: 'career'
    },
    {
    name: 'Поставщикам',
    url: 'to-suppliers.html',
    namespace: 'to-suppliers'
    },
    {
    name: 'ИНВЕСТОРЫ И СМИ',
    url: 'investors-and-media.html',
    namespace: 'investors-and-media'
    }
] %}
