{% set list = [
        {
        name: 'Вино',
        url: '#',
        namespace: ''
        },
        {
        name: 'Шампанское и игристые вина',
        url: '#',
        namespace: 'about'
        },
        {
        name: 'Водка',
        url: '#',
        namespace: 'main'
        },
        {
        name: 'Виски / Джин',
        url: '#',
        namespace: ''
        },
        {
        name: 'Пиво',
        url: '#',
        namespace: ''
        },
        {
        name: 'Вода и соки',
        url: '#',
        namespace: ''
        },
        {
        name: 'Наборы',
        url: '#',
        namespace: ''
        },
        {
        name: 'Бренды',
        url: '#',
        namespace: ''
        }
] %}
