<!-- О компании -->
{% set title = "О компании" %}
{% set namespace = "about" %}
{% set page = "about" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


	<div class="banner" style="background-image: url('images/samples/about-banner.jpg');">
		<div class="container">
			<div class="banner__block">
				<div class="banner__headline">
					<h1>Безопасность</h1>
				</div>
			</div>
		</div>
	</div>


	<section class="about">
		<div class="container">

			<div class="about-gold">
				<div class="article-title-wrap">
					<h2 class="article-title">Производитель золота<span class="article-title-after"></span></h2>
				</div>
				<div class="about-gold__description">
					<div class="about-gold__description-left">
						<div class="about-gold__words">
							<p>Акционерное общество «АК Алтыналмас» - компания полного геологического, горнодобывающего и золотоперерабатывающего цикла. Добыча золотосодержащей руды ведется на 5 из 15 месторождений Казахстана, которые принадлежат компании. </p>
							<p>Активы компании присутствует в 4-х регионах Казахстана: Жамбылской, Карагандинской, Восточно-Казахстанской и Акмолинской областях.</p>
							<p>Полезные ископаемые перерабатываются на собственных золотоизвлекательных фабриках «Акбакай», «Актогай» и «Алтыналмас Technology»</p>
						</div>
						<div class="about-gold__img" style="background-image: url('images/samples/about-gold-img1.jpg');"></div>
					</div>
					<div class="about-gold__description-right">
						<div class="about-gold__words">
							<p>В штате компании трудятся 2055 высококвалифицированных инженерно-технических сотрудников.</p>
							<p>В производственном процессе задействовано более 120 единиц горной техники.</p>
						</div>
						<div class="about-gold__img" style="background-image: url('images/samples/about-gold-img2.jpg');"></div>
					</div>
				</div>
			</div>
			<!-- /.about-gold -->

			<div class="about-items">
				fdfdffdd
			</div>
			<!-- /.about-items -->

		</div>
		<!-- /.container -->
	</section>
	<!-- /.about -->



{% endblock %}
