<!-- О компании -->
{% set title = "Миссия" %}
{% set namespace = "about-mission" %}
{% set page = "about-mission" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


	<div class="banner" style="background-image: url('images/samples/about-mission-banner.jpg');">
		<div class="container-fluid">
			<div class="flex align-items-baseline">
				<div class="title-wrapper">
					<div class="h1-wrap">
						<h1 class="small">
							Миссия
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="about-mission">
		<div class="container-fluid">
			<div class="flex flex-wrap">
				<div class="advantages__banner-wrap-outside">
					<div class="advantages__banner-wrap">
						<div class="advantages__banner"
							 style="background-image:url('images/samples/advantages2.jpg') ">
							<div class="title">
								<div class="text-uppercase">
									Принципы Акционерного общества
								</div>
	
								<div class="title-small">
									«АК Алтыналмас»
								</div>
							</div>
						</div>
						<div class="advantages-description">
							<div class="under-title">
								миссия
							</div>
							<div class="under-text">
								Преобразуем потенциал недр в ЗОЛОТЫЕ возможности для общества, работников, инвесторов и других заинтересованных сторон.
							</div>
						</div>
						<div class="advantages-description">
							<div class="under-title">
								видение
							</div>
							<div class="under-text">
								Стать лидирующей компанией в среднеазиатском золотодобывающем секторе. Приоритетной географией интересов компании является Казахстан.							</div>
						</div>
					</div>
				</div>
				<div class="values">
					<div class="values__head">
						Ценности
					</div>
					<div class="values__body">
						<article class="values-article">
							<div class="values__body-title">
								Устойчивое развитие
							</div>
							<div class="values__body-points">
								<p>В своих подходах мы ориентируемся на долгосрочное и стабильное развитие.</p>
								<ul>
									<li>
										Стремимся применять лучшие стандарты ведения бизнеса.
									</li>
									<li>
										Ищем и внедряем инновационные решения.
									</li>
									<li>
										Постоянно повышаем операционную эффективность.
									</li>
									<li>
										Инвестируем в человеческий капитал, как важный фактор устойчивого развития.
									</li>
								</ul>
							</div>
						</article>
						<article class="values-article">
							<div class="values__body-title">
								Бережное отношение к окружающей среде
							</div>
							<div class="values__body-points">
								<p>Рационально используем природные ресурсы и стремимся минимизировать неблагоприятное воздействие нашей деятельности на окружающую среду.</p>
								<ul>
									<li>Выявляем риски потенциального воздействия на окружающую среду и управляем ими.</li>
									<li>Соблюдаем требования по охране окружающей среды.</li>
								</ul>
							</div>
						</article>
						<article class="values-article">
							<div class="values__body-title">
								Безопасность труда
							</div>
							<div class="values__body-points">
								<p>Безопасность и здоровье сотрудников является нашим приоритетом.</p>
								<ul>
									<li>Стремимся к нулевому уровню травматизма и проф. заболеваний.</li>
									<li>Создаем безопасные условия труда и развиваем культуру безопасного поведения.</li>
									<li>Выявляем и управляем рисками по промышленной безопасности и охране труда.</li>
								</ul>
							</div>
						</article>
						<article class="values-article">
							<div class="values__body-title">
								Одна команда
							</div>
							<div class="values__body-points">
								<p>Мы помогаем друг другу и берем на себя ответственность за командный результат.</p>
								<ul>
									<li>Разделяем Миссию, Видение и Ценности Компании.</li>
									<li>Доверяем коллегам, ценим открытые и честные взаимоотношения.</li>
									<li>Работаем на командный результат и верим, что только в команде достигнем поставленных целей.</li>
								</ul>
							</div>
						</article>
						<article class="values-article">
							<div class="values__body-title">
								Наши люди
							</div>
							<div class="values__body-points">
								<p>Ценим, развиваем и заботимся о сотрудниках.</p>
								<ul>
									<li>Создаем равные возможности для профессионального развития и роста.</li>
									<li>Поддерживаем дружественную рабочую атмосферу.</li>
									<li>Обеспечиваем благоприятные условия труда.</li>
									<li>Стремимся стать лучшим работодателем.</li>
								</ul>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.about-mission -->



{% endblock %}
