<!-- Карьера -->
{% set title = "Вакансии" %}
{% set namespace = "vacancy" %}
{% set page = "vacancy" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


<div class="banner" style="background-image: url('images/samples/banner-vacancy.jpg');">
	<div class="container-fluid">
		<div class="flex align-items-baseline">
			<div class="title-wrapper">
				<div class="h1-wrap">
					<h1 class="small">
						Актуальные вакансии
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>



<section class="vacancy">
	<div class="container-fluid">

		<div class="tabs-wrapper">
			<div class="tabs_head">
				<div class="tab">
					<div class="tab_point">
						<div>Водитель</div>
						<div class="tab_point-icon"><i class="icon-left"></i></div></i>
					</div>
					<div class="tab_item">
						<div class="tabs-lists tabs-lists-vacancy">
							<div class="tabs-lists-title">Требования:</div>
							<ul>
								<li>Наличие ЕКВ с правом ведения взрывных работ в шахтах опасных по газу и пыли;</li>
								<li>Опыт работы от 3 лет;</li>
								<li>Квалификационное удостоверение на 4 разряд;</li>
							</ul>
						</div>
						<div class="tabs-lists tabs-lists-vacancy">
							<div class="tabs-lists-title">Условия:</div>
							<ul>
								<li>Вахтовый метод 30/30 дней;</li>
								<li>Питание, проживание, проезд (плацкарт, автобус) за счет компаний;</li>
							</ul>
						</div>
						<div class="tabs-lists tabs-lists-vacancy">
							<div class="tabs-lists-title">Обязанности:</div>
							<ul>
								<li>Заряжание и взрывание скважин;</li>
								<li>Участие в погрузке, доставке ВВ, растаривание на механизированной комплексе;</li>
								<li>Механизированное заряжание скважин;</li>
								<li>Проведение массовых взрывов;</li>
							</ul>
						</div>
						<div class="tab_links">
							<a href="#" class="btn btn-detail">
								Откликнуться
							</a>
							<a class="headhunter"
							   target="_blank"
							   href=" https://hh.kz/search/vacancy?area=160&st=searchVacancy&text=%D0%B0%D0%BB%D1%82%D1%8B%D0%BD%D0%B0%D0%BB%D0%BC%D0%B0%D1%81">Ссылка на Head Hunter</a>
						</div>
					</div>
				</div>
				<div class="tab">
					<div class="tab_point">
						<div>Взрывник</div>
						<div class="tab_point-icon"><i class="icon-left"></i></div>
					</div>
					<div class="tab_item">
						<div class="tabs-lists tabs-lists-vacancy">
							<div class="tabs-lists-title">Требования:</div>
							<ul>
								<li>Наличие ЕКВ с правом ведения взрывных работ в шахтах опасных по газу и пыли;</li>
								<li>Опыт работы от 3 лет;</li>
								<li>Квалификационное удостоверение на 4 разряд;</li>
							</ul>
						</div>
						<div class="tabs-lists tabs-lists-vacancy">
							<div class="tabs-lists-title">Условия:</div>
							<ul>
								<li>Вахтовый метод 30/30 дней;</li>
								<li>Питание, проживание, проезд (плацкарт, автобус) за счет компаний;</li>
							</ul>
						</div>
						<div class="tabs-lists tabs-lists-vacancy">
							<div class="tabs-lists-title">Обязанности:</div>
							<ul>
								<li>Заряжание и взрывание скважин;</li>
								<li>Участие в погрузке, доставке ВВ, растаривание на механизированной комплексе;</li>
								<li>Механизированное заряжание скважин;</li>
								<li>Проведение массовых взрывов;</li>
							</ul>
						</div>
						<div class="tab_links">
							<a href="#" class="btn btn-detail">
								Откликнуться
							</a>
							<a class="headhunter"
							   target="_blank"
							   href="https://hh.kz/search/vacancy?area=160&st=searchVacancy&text=%D0%B0%D0%BB%D1%82%D1%8B%D0%BD%D0%B0%D0%BB%D0%BC%D0%B0%D1%81">Ссылка на Head Hunter</a>
						</div>
					</div>
				</div>
				<div class="tab">
					<div class="tab_point">
						<div>Геолог</div>
						<div class="tab_point-icon"><i class="icon-left"></i></div>
					</div>
					<div class="tab_item">

					</div>
				</div>
				<div class="tab">
					<div class="tab_point">
						<div>Горный мастер</div>
						<div class="tab_point-icon"><i class="icon-left"></i></div>
					</div>
					<div class="tab_item">

					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.vacancy -->



{% endblock %}