<!-- О компании -->
{% set title = "О компании" %}
{% set namespace = "about" %}
{% set page = "about" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


	<div class="banner" style="background-image: url('images/samples/corporate-banner.jpg');">
		<div class="container-fluid">
			<div class="flex align-items-center">
				<div class="title-wrapper">
					<div class="h1-wrap">
						<h1 class="small">
							Комитеты Совета Директоров
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	<div class="committee">
		<div class="container-fluid">
			<div class="tabs-wrapper">
				<div class="tabs_head">
					<span class="tab">Вкладка 1</span>
					<span class="tab">Вкладка 2</span>
					<span class="tab">Вкладка 3</span>        
				</div>
				<div class="tab_content">
					<div class="tab_item">Содержимое 1</div>
					<div class="tab_item">Содержимое 2</div>
					<div class="tab_item">Содержимое 3</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.committee -->


{% endblock %}
