<!-- О компании -->
{% set title = "Корпоративное управление" %}
{% set namespace = "corporate" %}
{% set page = "corporate" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


	<div class="banner" style="background-image: url('images/samples/corporate-banner.jpg');">
		<div class="container-fluid">
			<div class="flex align-items-baseline">
				<div class="title-wrapper">
					<div class="h1-wrap">
						<h1 class="small">
							Корпоративное управление
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="corporate">
		<div class="container-fluid">
			<div class="flex flex-wrap">
				<div class="corporate__codex">
					<div class="article-title-wrap">
						<div class="article-title">Кодекс корпоративного управления<span class="article-title-after"></span></div>
					</div>
					<div class="corporate__codex-description">
						<p>Кодекс корпоративного управления компании (далее - Кодекс) был утвержден внеочередным общим собранием акционеров 20 декабря 2005 года. Компания неукоснительно следует положениям Кодекса, который строится на принципах справедливости, честности, ответственности, прозрачности, профессионализма и компетентности. Эффективная структура корпоративного управления предполагает уважение прав и интересов всех заинтересованных в деятельности компании лиц и способствует успешной деятельности компании, в том числе росту его ценности, поддержанию финансовой стабильности и прибыльности. Основополагающими принципами Кодекса являются:</p>
						<ul>
							<li>принцип защиты прав и интересов акционеров</li>
							<li>принцип эффективного управления компанией Советом Директоров и исполнительным органом</li>
							<li>принципы прозрачности и объективности раскрытия информации о деятельности компании</li>
							<li>принципы законности и этики</li>
							<li>принципы эффективной дивидендной политики</li>
							<li>принципы эффективной кадровой политики</li>
							<li>охрана окружающей среды</li>
							<li>политика регулирования корпоративных конфликтов</li>
						</ul>
					</div>
				</div>
				<div class="advantages__banner-wrap-outside">
					<div class="advantages__banner-wrap">
						<div class="advantages__banner"
							 style="background-image:url('images/samples/advantages3.jpg') ">
						</div>
						<div class="advantages-buttons">
							<div class="advantages-buttons__title">
								Корпоративные документы<br> акционерного общества «АК Алтыналмас»
							</div>
							<div class="flex advantages-buttons__btn-wrap">
								<p>Кодекс противодействия коррупции</p>
								<span id="doc1" class="btn btn-detail">
									Подробнее
								</span>
							</div>
							<div class="flex advantages-buttons__btn-wrap">
								<p>Устав Акционерного общества</p> 
								<a href="" class="btn btn-detail">
									Подробнее
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.flex flex-wrap -->
		</div>
	</section>
	<!-- /.corporate -->



{% endblock %}
