<!-- Корпоративная газета -->
{% set title = "Корпоративная газета" %}
{% set namespace = "corporate-newspaper" %}
{% set page = "corporate-newspaper" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="corporate-newspaper">
    <div class="mainTopSlider mainDepositsSlider">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"
                     style="background-image: url('images/samples/newpaper.jpg')">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="flex align-items-baseline">
                <div class="title-wrapper">
                    <div class="h1-wrap">
                        <h1>
                            Корпоративная газета
                        </h1>
                    </div>
                </div>
                <div class="arrow-wrapper">
                    <!-- Add Arrows -->
                    <div class="btn-slide-prev">
                        <i class="icon-left"></i>
                    </div>
                    <div class="btn-slide-next">
                        <i class="icon-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="corporate-newspaper-content">
            <div class="corporate-newspaper__items flex flex-wrap">
                <div class="corporate-newspaper__item">
                    <a href="images/samples/newspaper-img.jpg" data-fancybox class="link-block img ratio">
                        <img src="images/samples/newspaper-img.jpg">
                    </a>

                    <a href="images/samples/newspaper-img.jpg" data-fancybox class="btn btn-detail">
                        Смотреть
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
