<!-- Устойчивое развитие -->
{% set title = "Устойчивое развитие" %}
{% set namespace = "development" %}
{% set page = "development" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


<div class="banner" style="background-image: url('images/samples/banner-development.jpg');">
	<div class="container-fluid">
		<div class="flex align-items-baseline">
			<div class="title-wrapper">
				<div class="h1-wrap">
					<h1 class="small">
						Безопасноть
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="development">
	<div class="container-fluid">
		<div class="tabs-wrapper">
			<div class="tabs_head">
				<p class="tab">
					<div class="tab_point">
						<div>Промышленная безопасность и охрана труда</div>
						<div class="tab_point-icon"><i class="icon-left"></i></div></i>
					</div>
					<p class="tab_item">
						<p>Безопасность и здоровье сотрудников является нашим главным приоритетом.
				Мы стремимся к нулевому уровню травматизма и профзаболеваний. Вопросы охраны труда и промышленной безопасности являются приоритетными по отношению к производственным задачам и показателям.
						</p>

				<p>В компании принята «Политика в области охраны труда и промышленной безопасности», соблюдение требований которой является обязательным не только для сотрудников, но и для работников подрядных организаций.</p>

					<p>Все предприятия и подразделения Алтыналмаса сертифицированы на соответствие требованиям стандарта ISO 45001 «Системы менеджмента охраны здоровья и безопасности труда» и регулярно проходят аудиты, подтверждая свою сертификацию.</p>

						<p>В 2019 году руководством компании утверждена среднесрочная трехлетняя программа <a href="sana-safety.html" class="text-black">Sana Safety</a>, направленная на совершенствование системы управления охраной труда и промышленной безопасности и развитие культуры безопасности в компании.</p>
					</div>
				</div>
				<div class="tab">
					<div class="tab_point">
						<div>Готовность к аварийным ситуациям</div>
						<div class="tab_point-icon"><i class="icon-left"></i></div>
					</div>
					<div class="tab_item">
						<p>Готовность к аварийным ситуациям и реагирование на них являются неотъемлемой составной частью системы
							управления промышленной безопасностью и охраной труда.</p>
						<p>Мероприятия по предупреждению аварийных ситуаций и обеспечению готовности к ним, реализованные на
							объектах компании: </p>
						<ul class="tabs-lists">
							<li>Организация аварийно-спасательной службы;</li>
							<li>Разработка плана ликвидации аварий; </li>
							<li>Разработка схемы оповещения и координации действий работников, обеспечивающая защиту сотрудников в
								случае аварийной ситуации в рабочей зоне;</li>
							<li>Проведение плановых учебных тренировок для отработки навыков реагирования в аварийных ситуациях</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /.committee -->


{% endblock %}