<!-- Устойчивое развитие -->
{% set title = "Сотрудники" %}
{% set namespace = "staff" %}
{% set page = "staff" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


	<div class="banner" style="background-image: url('images/samples/banner-staff.jpg');">
		<div class="container-fluid">
			<div class="flex align-items-center">
				<div class="title-wrapper">
					<div class="h1-wrap">
						<h1 class="small">
							Сотрудники
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	<div class="environment">
		<div class="container-fluid">
			<div class="environment__description">
				<p>В своей ежедневной деятельности Алтыналмас стремится минимизировать воздействие на окружающую среду.</p>
				<p>Снижение негативного влияния на окружающую среду, рациональное использование недр и защита окружающей среды – приоритетные задачи деятельности компании.</p>
				<p>Экологическая политика компании основывается на принципах рационального природопользования и максимального сохранения природной среды.</p>
			</div>
			<div class="tabs-wrapper">
				<div class="tabs_head">
					<div class="tab">
						<div class="tab_point">
							<div>Базовые принципы обеспечения экологии</div>
							<div class="tab_point-icon"><i class="icon-left"></i></div></i></div>
						<div class="tab_item">
							<p>Соответствие требованиям и нормам, установленным законодательством. В рамках мероприятий по защите окружающей среды постоянно ведется работа по снижению удельных выбросов вредных веществ в атмосферу и водный бассейн, утилизации промышленных отходов и восстановлению нарушенных земель.</p>
							<p>Осуществление экологического менеджмента на основе действующего законодательства РК и внутренних регламентов, ориентированных на передовой опыт управления в сфере обеспечения экологической безопасности.</p>
						</div>
					</div>
					<div class="tab">
						<div class="tab_point">
							<div>Ключевые направления природоохранной деятельности</div>
							<div class="tab_point-icon"><i class="icon-left"></i></div></div>
						<div class="tab_item">
							<p>Соответствие требованиям и нормам, установленным законодательством. В рамках мероприятий по защите окружающей среды постоянно ведется работа по снижению удельных выбросов вредных веществ в атмосферу и водный бассейн, утилизации промышленных отходов и восстановлению нарушенных земель.</p>
							<p>Осуществление экологического менеджмента на основе действующего законодательства РК и внутренних регламентов, ориентированных на передовой опыт управления в сфере обеспечения экологической безопасности.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="environment__security">
				<div class="article-title-wrap">
					<div class="article-title">Охрана окружающей среды<span class="article-title-after"></span></div>
				</div>
				<div class="tabs-wrapper-environment">
					<div class="tabs_head">
						<div class="tab-security">
							<div class="tab_point">
								<div>Охрана атмосферного воздуха</div>
								<div class="tab_point-icon"><i class="icon-left"></i></div></i></div>
							<div class="tab_item-security">
								<p>Охрана</p>
							</div>
						</div>
						<div class="tab-security">
							<div class="tab_point">
								<div>Охрана водных ресурсов</div>
								<div class="tab_point-icon"><i class="icon-left"></i></div></div>
							<div class="tab_item-security">
								<p>Охрана</p>
							</div>
						</div>
						<div class="tab-security">
							<div class="tab_point">
								<div>Управление отходами</div>
								<div class="tab_point-icon"><i class="icon-left"></i></div></div>
							<div class="tab_item-security">
								<p>Охрана</p>
							</div>
						</div>
						<div class="tab-security">
							<div class="tab_point">
								<div>Сохранение флоры и фауны</div>
								<div class="tab_point-icon"><i class="icon-left"></i></div></div>
							<div class="tab_item-security">
								<p>Охрана</p>
							</div>
						</div>
						<div class="tab-security">
							<div class="tab_point">
								<div>Восстановление нарушенных земель</div>
								<div class="tab_point-icon"><i class="icon-left"></i></div></div>
							<div class="tab_item-security">
								<p>Охрана</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.committee -->


{% endblock %}
