<!-- Устойчивое развитие -->
{% set title = "Местные сообщества" %}
{% set namespace = "estate" %}
{% set page = "estate" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


	<div class="banner" style="background-image: url('images/samples/banner-estate.jpg');">
		<div class="container-fluid">
			<div class="flex align-items-center">
				<div class="title-wrapper">
					<div class="h1-wrap">
						<h1 class="small">
							Местные сообщества
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	<div class="estate">
		<div class="container-fluid">
			<div class="estate__description">
				<p>Алтыналмас уделяет особое внимание социальной поддержке добычных регионов. Компания стремится внести вклад в развитие<br> поселков, вблизи которых ведет производственную деятельность. В целях повышения качества жизни населения компания тесно<br> взаимодействует с местными исполнительными органами. С 2011 года на социальную поддержку регионов направлено более 130 млн<br> тенге.</p>
			</div>
			<div class="tabs-wrapper">
				<div class="tabs_head">
					<div class="tab">
						<div class="tab_point">
							<div>Социальная поддержка поселка Акбакай Жамбылского района</div>
							<div class="tab_point-icon"><i class="icon-left"></i></div></i></div>
						<div class="tab_item">
							<p>В 2013 году компанией был подписан меморандум по поддержанию жизнедеятельности поселка Акбакай. Согласно условиям меморандума, Алтыналмас снабжает поселок питьевой водой, электроэнергией, обеспечивает уборку территории, ведет работы содержанию внутрипоселковых дорог и автодороги Акбакай-Мирный, поддерживает работу общественной бани и оказывает материальную поддержку в проведении культурно-массовых, спортивных мероприятий. Также компания готовит подарки жителям и детям поселка Акбакай на Новый год, Наурыз и День защиты детей.</p>
							<p>Еще один проект социального характера, реализованный компанией для жителей поселка – подключение к сети интернет акимата, школы, детского сада и медпункта в поселке Акбакай.</p>
						</div>
					</div>
					<div class="tab">
						<div class="tab_point">
							<div>Социальная поддержка Актогайского района Карагандинской области</div>
							<div class="tab_point-icon"><i class="icon-left"></i></div></div>
						<div class="tab_item">
							<p>В 2013 году компанией был подписан меморандум по поддержанию жизнедеятельности поселка Акбакай. Согласно условиям меморандума, Алтыналмас снабжает поселок питьевой водой, электроэнергией, обеспечивает уборку территории, ведет работы содержанию внутрипоселковых дорог и автодороги Акбакай-Мирный, поддерживает работу общественной бани и оказывает материальную поддержку в проведении культурно-массовых, спортивных мероприятий. Также компания готовит подарки жителям и детям поселка Акбакай на Новый год, Наурыз и День защиты детей.</p>
							<p>Еще один проект социального характера, реализованный компанией для жителей поселка – подключение к сети интернет акимата, школы, детского сада и медпункта в поселке Акбакай.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.committee -->


{% endblock %}
