<!-- О компании -->
{% set title = "О компании" %}
{% set namespace = "about" %}
{% set page = "about" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


	<div class="banner" style="background-image: url('images/samples/corporate-banner.jpg');">
		<div class="container-fluid">
			<div class="flex align-items-center">
				<div class="title-wrapper">
					<div class="h1-wrap">
						<h1 class="small">
							Руководство компании
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<section class="governance">
		<div class="container-fluid">
			<div class="governance-soviet">
				<div class="article-title-wrap">
					<div class="article-title">Совет директоров<br>
						Принципы деятельности Совета Директоров<span class="article-title-after"></span></div>
				</div>
				<div class="flex flex-wrap governance-soviet__points">
					<div class="governance-soviet__points-block">
						<ul>
							<li>Деятельность Совета Директоров строится на основе принципа максимального соблюдения интересов акционеров и направлена на повышение рыночной стоимости Общества.</li>
							<li>Совет Директоров предоставляет акционерам взвешенную и четкую оценку достигнутых результатов и перспектив Общества посредством объективного мониторинга состояния текущего бизнеса и обеспечивает поддержание и функционирование надежной системы внутреннего контроля и независимого аудита с целью сохранения инвестиций акционеров и активов Общества. </li>
							<li>Совет Директоров обеспечивает эффективную работу системы управления рисками, контролирует и регулирует корпоративные конфликты.</li>
						</ul>
					</div>
					<div class="governance-soviet__points-block">
						<ul>
							<li>Совет Директоров обеспечивает полную прозрачность своей деятельности перед акционерами.</li>
							<li>Совет Директоров несет ответственность по раскрытию информации и информационному освещению деятельности Общества, и обязан обосновать классификацию информации и обеспечить защиту и сохранность внутренней (служебной) информации.</li>
							<li>В составе Совета Директоров обязательно должны присутствовать независимые директора. Общество определяет собственные критерии независимости директоров, основанные на базовых положениях законодательства. Характерной чертой независимого директора является его независимость от контрольного акционера, менеджмента Общества и государства.</li>
							<li>Совет Директоров осуществляет контроль над деятельностью исполнительного органа.</li>
						</ul>
					</div>
				</div>

				<div class="flex persons-wrap">
					<div class="advantages__banner-wrap-outside advantages__banner-wrap-outside--persons">
						<div class="advantages__banner-wrap advantages__banner-wrap--margin">
							<div class="advantages__banner  advantages__banner--photo"
								 style="background-image:url('images/samples/person1.jpg') ">
							</div>
							<div class="advantages-description">
								<div class="under-title-dark">
									Дэвид Кэзер
								</div>
								<div class="under-text">
									Член Совета Директоров, Независимый директор
								</div>
							</div>
						</div>
					</div>
					<div class="advantages__banner-wrap-outside advantages__banner-wrap-outside--persons">
						<div class="advantages__banner-wrap advantages__banner-wrap--margin">
							<div class="advantages__banner advantages__banner--photo"
								 style="background-image:url('images/samples/person2.jpg') ">
							</div>
							<div class="advantages-description">
								<div class="under-title-dark">
									Дияр Бахытбекович Канашев
								</div>
								<div class="under-text">
									Член Совета Директоров, Президент – Председатель Правления
								</div>
							</div>
						</div>
					</div>
					<div class="advantages__banner-wrap-outside advantages__banner-wrap-outside--persons">
						<div class="advantages__banner-wrap advantages__banner-wrap--margin">
							<div class="advantages__banner advantages__banner--photo"
								 style="background-image:url('images/samples/person3.jpg') ">
							</div>
							<div class="advantages-description">
								<div class="under-title-dark">
									Владимир Викторович Джуманбаев
								</div>
								<div class="under-text">
									Председатель Совета Директоров
								</div>
							</div>
						</div>
					</div>
					<div class="advantages__banner-wrap-outside advantages__banner-wrap-outside--persons">
						<div class="advantages__banner-wrap advantages__banner-wrap--margin">
							<div class="advantages__banner advantages__banner--photo"
								 style="background-image:url('images/samples/person4.jpg') ">
							</div>
							<div class="advantages-description">
								<div class="under-title-dark">
									Скотт Моррисон
								</div>
								<div class="under-text">
									Член Совета Директоров, Независимый директор
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.goverance-soviet -->

			<div class="rule">
				<div class="article-title-wrap">
					<div class="article-title">Правление<span class="article-title-after"></span></div>
				</div>
				<div class="governance-soviet__points-block">
					<p>Принципы деятельности исполнительного органа</p>
					<ul>
						<li>Исполнительный орган осуществляет руководство ежедневной работой Общества и ее соответствие утвержденным планам.</li>
						<li>Деятельность исполнительного органа строится на основе принципа максимального соблюдения интересов акционеров, полностью подотчетна решениям Общего собрания акционеров Общества и Совета директоров.</li>
					</ul>
				</div>
				<div class="flex rule-persons-wrap">
					<div class="advantages__banner-wrap-outside advantages__banner-wrap-outside--persons">
						<div class="advantages__banner-wrap advantages__banner-wrap--margin">
							<div class="advantages__banner  advantages__banner--photo"
								 style="background-image:url('images/samples/person5.jpg') ">
							</div>
							<div class="advantages-description">
								<div class="under-title-dark">
									Бахром Бурхонович Джалолов
								</div>
								<div class="under-text">
									Член Правления, Заместитель председателя Правления по Производству
								</div>
							</div>
						</div>
					</div>
					<div class="advantages__banner-wrap-outside advantages__banner-wrap-outside--persons">
						<div class="advantages__banner-wrap advantages__banner-wrap--margin">
							<div class="advantages__banner advantages__banner--photo"
								 style="background-image:url('images/samples/person2.jpg') ">
							</div>
							<div class="advantages-description">
								<div class="under-title-dark">
									Дияр Бахытбекович Канашев
								</div>
								<div class="under-text">
									Член Совета Директоров, Президент – Председатель Правления
								</div>
							</div>
						</div>
					</div>
					<div class="advantages__banner-wrap-outside advantages__banner-wrap-outside--persons">
						<div class="advantages__banner-wrap advantages__banner-wrap--margin">
							<div class="advantages__banner advantages__banner--photo"
								 style="background-image:url('images/samples/person6.jpg') ">
							</div>
							<div class="advantages-description">
								<div class="under-title-dark">
									Кайрат Карибаевич Рахишов
								</div>
								<div class="under-text">
									Член Правления, Заместитель председателя Правления по Финансам
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.corporate -->



{% endblock %}
