<!-- Устойчивое развитие -->
{% set title = "Горячая линия" %}
{% set namespace = "hotline" %}
{% set page = "hotline" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


<div class="banner" style="background-image: url('images/samples/hotline-banner.jpg');">
	<div class="container-fluid">
		<div class="flex align-items-baseline">
			<div class="title-wrapper">
				<div class="h1-wrap">
					<h1 class="small">
						Горячая линия
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="hotline">
	<div class="container-fluid">

		<div class="hotline__president">
			<div class="hotline__president-img">
				<img src="images/samples/president.jpg" alt="Ельбаси">
				<h3>Дияр Канашев,

					Президент – Председатель Правления</h3>
			</div>
			<div class="hotline__president-description">
				<div class="hotline__president-headline">
					<h2>Запуск "горячей линии"</h2>
				</div>
				<div class="hotline__president-text">
					<p>АО «АК Алтыналмас» придерживается высочайших стандартов честности, открытости, ответственности и дорожит
						своей
						репутацией, и мы ожидаем от сотрудников и партнеров компании соблюдения высочайших стандартов этики и
						добросовестности.</p>

					<p>Для поддержания принципов честного и добросовестного ведения бизнеса крайне важно, чтобы у руководства
						компании была возможность получать информацию о нарушениях этических норм, законодательства, Кодекса
						корпоративной этики АО «АК Алтыналмас» или других внутренних правил. Это позволит компании своевременно
						реагировать на нарушения и устранять их.</p>

					<p>В этой связи <strong>я рад сообщить о запуске «Горячей линии»  для всех сотрудников АО «АК Алтыналмас»,
							дочерних
							компаний, а также деловых партнеров</strong>. Сообщение о любых предполагаемых нарушениях, совершаемых
						сотрудниками либо партнерами компании и дочерних предприятий, является крайне важным в соблюдении высочайших
						стандартов ведения бизнеса и сохранения репутации АО «АК Алтыналмас», как надежного бизнес-партнера.</p>

					<p>Мы призываем всех как можно раньше сообщать о своей обеспокоенности в отношении любых известных нарушений,
						инцидентов или ненадлежащем поведении на рабочем месте кем-либо из сотрудников компании – вне зависимости от
						должности. Мы понимаем, что вам может быть известна не вся информация о том, что вызывает у вас
						обеспокоенность, но это не должно быть причиной для отказа от подачи обращения.</p>

					<p>В соответствии с Положением по оповещению о нарушении этических норм, законодательства и внутренних
						правил, вы
						можете сообщить о любых случившихся или предполагаемых фактах хищений, мошенничества, коррупции и других
						нарушений этических норм и/или Кодекса корпоративной этики АО «АК Алтыналмас»:​</p>

					<ul>
						<li>позвонив по номеру  <a href="tel:88000809868">8 800 080 98 68</a> либо</li>
						<li>отправив сообщение на сайте  <a href="www.hihotline.com">www.hihotline.com</a>, используя ID
							компании: 0228-3300-9021-2601 и следуя
							инструкции;</li>
					</ul>

					<p>​​АО «АК Алтыналмас» не допускает какое-либо преследование или дискриминацию по отношению к работникам или
						к
						любым другим лицам, которые добросовестно заявляют о проблемах или сообщают о фактах нарушения деловой этики
						или законодательства. Вся информация принимается и обрабатывается внешней независимой компанией.</p>

					<p>В целях наиболее эффективной обработки вашего сообщения вам будет предложено оставить анонимное сообщение,
						однако вы также можете оставить контактную информацию, выбор придерживаться анонимности или нет остается за
						вами. Все сообщения будут рассмотрены.</p>

					<p>Для получения более детальной информации о работе «Горячей линии» посетите раздел «Вопросы горячей линии» .
						При возникновении дополнительных вопросов свяжитесь с сотрудниками Службы комплаенс: вице-президентом по
						правовым вопросам и комплаенс-контролю Арманом Маркашовым @Arman Markashov, либо комплаенс менеджером
						Ержаном
						Дарменовым @Yerzhan Darmenov.</p> ​

					<p>Честное и добросовестное отношение к компании, коллегам, партнерам и бизнес-сообществу – один из важнейших
						приоритетов АО «АК Алтыналмас» в ведении бизнеса. Мы не толерантны к любого рода противоправным действиям и
						ожидаем такого же поведения от каждого работника компании и наших дочерних предприятий. Только неуклонно
						следуя принципу честностого и открытого бизнеса мы будем сохранять репутацию надежного бизнес-партнера и
						выбираемого работодателя страны.</p>
				</div>
				<div class="hotline__president-download">
					<a href="/images/samples/pamyatka-kz-ru-en.pdf" class="btn btn-detail" download>Скачать инструкции</a>
				</div>
			</div>
		</div>

		<div class="hotline__description">
			<h2>Вопросы по горячей линии</h2>
			<div class="tabs-wrapper">
				<div class="tabs_head">
					<div class="tab">
						<div class="tab_point">
							<div>1. Для чего нужна горячая линия?</div>
							<div class="tab_point-icon"><i class="icon-left"></i></div></i>
						</div>
						<div class="tab_item">
							<p>Горячая линия дает возможность конфиденциально сообщать о
								случившихся или предполагаемых фактах коррупции, мошенничества,
								дискриминации, а также об иных нарушениях действующего
								законодательства, этических норм или Кодекса корпоративной этики АО
								«АК Алтыналмас» со стороны любых лиц.</p>
						</div>
					</div>
					<div class="tab">
						<div class="tab_point">
							<div>​2. О каких видах правонарушений я могу сообщить?</div>
							<div class="tab_point-icon"><i class="icon-left"></i></div>
						</div>
						<div class="tab_item">
							<p>Соответствие требованиям и нормам, установленным законодательством. В рамках мероприятий по защите
								окружающей среды постоянно ведется работа по снижению удельных выбросов вредных веществ в атмосферу и
								водный бассейн, утилизации промышленных отходов и восстановлению нарушенных земель.</p>
							<p>Осуществление экологического менеджмента на основе действующего законодательства РК и внутренних
								регламентов, ориентированных на передовой опыт управления в сфере обеспечения экологической
								безопасности.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.committee -->


	{% endblock %}