<!-- Главная страница -->
{% set title = "Главная" %}
{% set namespace = "main" %}
{% set page = "index" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background: url('images/samples/slide.jpg')">
            <div class="container">
                <div class="slide-info">
                    <div class="slide-info__title">
                        Canti
                    </div>
                    <div class="slide-info__description">
                        Символ изысканности,<br>
                        красоты и высокой моды
                    </div>
                    <button class="btn-slide">
                        подробнее о продукции
                    </button>
                </div>
            </div>
        </div>
        <div class="swiper-slide" style="background: url('images/samples/slide2.jpg')">
            <div class="slide-info">
                <div class="slide-info__title">
                    Canti
                </div>
                <div class="slide-info__description">
                    Символ изысканности,<br>
                    красоты и высокой моды
                </div>
                <button class="btn-slide">
                    подробнее о продукции
                </button>
            </div>
        </div>
        <div class="swiper-slide" style="background: url('images/samples/slide.jpg')">
            <div class="slide-info">
                <div class="slide-info__title">
                    Canti
                </div>
                <div class="slide-info__description">
                    Символ изысканности,<br>
                    красоты и высокой моды
                </div>
                <button class="btn-slide">
                    подробнее о продукции
                </button>
            </div>
        </div>
        <div class="swiper-slide" style="background: url('images/samples/slide2.jpg')">
            <div class="slide-info">
                <div class="slide-info__title">
                    Canti
                </div>
                <div class="slide-info__description">
                    Символ изысканности,<br>
                    красоты и высокой моды
                </div>
                <button class="btn-slide">
                    подробнее о продукции
                </button>
            </div>
        </div>
        <div class="swiper-slide" style="background: url('images/samples/slide.jpg')">
            <div class="slide-info">
                <div class="slide-info__title">
                    Canti
                </div>
                <div class="slide-info__description">
                    Символ изысканности,<br>
                    красоты и высокой моды
                </div>
                <button class="btn-slide">
                    подробнее о продукции
                </button>
            </div>
        </div>
        <div class="swiper-slide" style="background: url('images/samples/slide2.jpg')">
            <div class="slide-info">
                <div class="slide-info__title">
                    Canti
                </div>
                <div class="slide-info__description">
                    Символ изысканности,<br>
                    красоты и высокой моды
                </div>
                <button class="btn-slide">
                    подробнее о продукции
                </button>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"><i class="icon-arrow"></i></div>
    <div class="swiper-button-prev swiper-button-white"><i class="icon-arrow"></i></div>
</div>

<div class="container">
    
    <div class="title-page__wrapper">
        <div class="title-page">
            популярные новинки
        </div>
    </div>
    
    <div class="products-items-list flex-wrap flex">
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-1.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-2.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-3.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-4.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-5.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-1.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-2.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-3.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-4.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product__item-wrapper">
            <div class="product__item">
                <div class="product__item-img">
                    <img src="images/samples/img-5.png" alt="image">
                </div>
                <div class="product__item-mark">
                    Белое полусухое
                </div>
                <div class="product__item-title">
                    Demi Sec Ferrari
                </div>
                <div class="flex justify-content-between product__item-property">
                    <div>Италия</div>
                    <div>0,75л</div>
                </div>
                
                <div class="product__item-btn-wrapper">
                    <button class="btn-primary">
                            <span>
                                подробнее
                            </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination__wrapper">
        <div class="pagination flex align-items-center">
            <div class="prev">
                <i class="icon-arrow"></i>
            </div>
            <ul>
                <li>
                    1
                </li>
                <li>
                    2
                </li>
                <li class="active">
                    3
                </li>
                <li class="dot">
                    ......
                </li>
                <li>
                    16
                </li>
            </ul>
            <div class="next active">
                <i class="icon-arrow"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}
