<!-- Главная страница -->
{% set title = "Главная" %}
{% set namespace = "main" %}
{% set page = "index" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<!--style="background-image: url('images/samples/about-banner.jpg');"-->
<div class="mainTopSlider">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                 data-title="Инвестиции в вечные ценности..."
                 style="background-image: url('images/samples/slide1.jpg');">
            </div>
            <div class="swiper-slide"
                 data-title="Создаем золотые возможности для общества с 1993 года"
                 style="background-image: url('images/samples/slide1.jpg');">
            </div>
            <div class="swiper-slide"
                 data-title="2055 сотрудников в штате"
                 style="background-image: url('images/samples/slide1.jpg');">
            </div>
            <div class="swiper-slide"
                 data-title="166 169 унций золота в год"
                 style="background-image: url('images/samples/slide1.jpg');">
            </div>
            <div class="swiper-slide"
                 data-title="15 месторождений по добыче золота"
                 style="background-image: url('images/samples/slide1.jpg');">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="flex align-items-center">
            <div class="title-wrapper">
                <div class="h1-wrap">
                    <h1 class="small">
                        <div class="text-normal">
                            Золотодобывающая
                            компания
                        </div>
                        АО <span class="big-font">«АК Алтыналмас»</span>
                    </h1>

                    <div class="slide-title">
                        Инвестиции в вечные ценности...
                    </div>
                </div>
            </div>
            <div class="arrow-wrapper">
                <!-- Add Arrows -->
                <div class="btn-slide-prev">
                    <i class="icon-left"></i>
                </div>
                <div class="btn-slide-next">
                    <i class="icon-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="advantages">
        <div class="flex flex-wrap">
            <div class="advantages__banner-wrap-outside">
                <div class="advantages__banner-wrap">
                    <div class="advantages__banner"
                         style="background-image:url('images/samples/advantages.jpg') ">
                        <div class="title">
                            <div class="text-uppercase">
                                Уникальные
                                преимущества
                            </div>

                            <div class="title-small">
                                АО «АК Алтыналмас»
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantages__article">
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-safety"></i>
                        </div>
                    </div>
                    <div>
                        <h4>
                            <a href="">
                                Безопасность

                                <i class="icon-btn-details"></i>
                            </a>
                        </h4>
                        <p class="js-text-ellipsis">
                            Внедряем мировые практики по совершенствованию Культуры безопасности для достижения нулевого
                            уровня травматизма на производстве
                        </p>
                    </div>
                </article>
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-star"></i>
                        </div>
                    </div>
                    <div>
                        <h4>
                            <a href="">
                                Инновационность

                                <i class="icon-btn-details"></i>
                            </a>
                        </h4>
                        <p class="js-text-ellipsis">
                            Реализуем инновационные проекты по автоматизации производства, повышению процента извлечения
                            ценного
                            компонента и увеличению производительности
                        </p>
                    </div>
                </article>
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-users"></i>
                        </div>
                    </div>
                    <div>
                        <h4>
                            <a href="">
                                Социальная ответственность

                                <i class="icon-btn-details"></i>
                            </a>
                        </h4>
                        <p class="js-text-ellipsis">
                            Предоставляем социальную поддержку во всех регионах, где ведем производственную деятельность
                        </p>
                    </div>
                </article>
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-network"></i>
                        </div>
                    </div>
                    <div>
                        <h4>
                            <a href="">
                                Равные возможности для всех

                                <i class="icon-btn-details"></i>
                            </a>
                        </h4>
                        <p class="js-text-ellipsis">
                            В компании работают представители 22 национальностей, средний возраст работников – 38 лет,
                            ТОП-менеджмент компании представляет собой 60% мужчин и 40% женщин
                        </p>
                    </div>
                </article>
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-schedule"></i>
                        </div>
                    </div>
                    <div>
                        <h4>
                            <a href="">
                                Устойчивое развитие

                                <i class="icon-btn-details"></i>
                            </a>
                        </h4>
                        <p class="js-text-ellipsis">
                            Стремимся к наилучшим стандартам корпоративного управления. В своей деятельности мы
                            ориентируемся на принципы ответственной золотодобычи
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
