<!-- Устойчивое развитие -->
{% set title = "ИНВЕСТОРЫ И СМИ" %}
{% set namespace = "investors-and-media" %}
{% set page = "investors-and-media" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


<div class="banner" style="background-image: url('images/samples/newspage1.jpg');">
	<div class="container-fluid">
		<div class="flex align-items-baseline">
			<div class="title-wrapper">
				<div class="h1-wrap">
					<h1 class="small">
						Новости
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container-fluid">
	<div class="news-wrap">
		<div class="mailto">
			Напишите нам: <a href="mailto:info@altynalmas.kz">info@altynalmas.kz</a>
		</div>
		<div class="flex flex-wrap justify-content-between">
			<div class="investors_news">
				<div class="investors_news-img">
					<img src="images/samples/investors-item.jpg">
				</div>
				<p class="investors_news_data">03.12.2019</p>
				<p class="investors_news_text">ВТБ профинансировал группу компаний золотодобывающего сектора Казахстана на сумму
					до 470,0 млн евро</p>
				<a href="investors-news.html" class="btn btn-detail">Подробнее</a>
			</div>
			<div class="investors_news">
				<div class="investors_news-img">
					<img src="images/samples/investors-item.jpg">
				</div>
				<p class="investors_news_data">03.12.2019</p>
				<p class="investors_news_text">ВТБ профинансировал группу компаний золотодобывающего сектора Казахстана на сумму
					до 470,0 млн евро</p>
				<a href="investors-news.html" class="btn btn-detail">Подробнее</a>
			</div>
			<div class="investors_news">
				<div class="investors_news-img">
					<img src="images/samples/investors-item.jpg">
				</div>
				<p class="investors_news_data">03.12.2019</p>
				<p class="investors_news_text">ВТБ профинансировал группу компаний золотодобывающего сектора Казахстана на сумму
					до 470,0 млн евро</p>
				<a href="investors-news.html" class="btn btn-detail">Подробнее</a>
			</div>
			<div class="investors_news">
				<div class="investors_news-img">
					<img src="images/samples/investors-item.jpg">
				</div>
				<p class="investors_news_data">03.12.2019</p>
				<p class="investors_news_text">ВТБ профинансировал группу компаний золотодобывающего сектора Казахстана на сумму
					до 470,0 млн евро</p>
				<a href="investors-news.html" class="btn btn-detail">Подробнее</a>
			</div>
			<div class="investors_news">
				<div class="investors_news-img">
					<img src="images/samples/investors-item.jpg">
				</div>
				<p class="investors_news_data">03.12.2019</p>
				<p class="investors_news_text">ВТБ профинансировал группу компаний золотодобывающего сектора Казахстана на сумму
					до 470,0 млн евро</p>
				<a href="investors-news.html" class="btn btn-detail">Подробнее</a>
			</div>
			<div class="investors_news">
				<div class="investors_news-img">
					<img src="images/samples/investors-item.jpg">
				</div>
				<p class="investors_news_data">03.12.2019</p>
				<p class="investors_news_text">ВТБ профинансировал группу компаний золотодобывающего сектора Казахстана на сумму
					до 470,0 млн евро</p>
				<a href="investors-news.html" class="btn btn-detail">Подробнее</a>
			</div>
			<div class="investors_news">
				<div class="investors_news-img">
					<img src="images/samples/investors-item.jpg">
				</div>
				<p class="investors_news_data">03.12.2019</p>
				<p class="investors_news_text">ВТБ профинансировал группу компаний золотодобывающего сектора Казахстана на сумму
					до 470,0 млн евро</p>
				<a href="investors-news.html" class="btn btn-detail">Подробнее</a>
			</div>
			<div class="investors_news">
				<div class="investors_news-img">
					<img src="images/samples/investors-item.jpg">
				</div>
				<p class="investors_news_data">03.12.2019</p>
				<p class="investors_news_text">ВТБ профинансировал группу компаний золотодобывающего сектора Казахстана на сумму
					до 470,0 млн евро</p>
				<a href="investors-news.html" class="btn btn-detail">Подробнее</a>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->
<!-- /.committee -->


{% endblock %}