<!-- Главная страница -->
{% set title = "Основные направления" %}
{% set namespace = "main-deposits" %}
{% set page = "main-deposits" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="main-deposits">
    <div class="mainTopSlider mainDepositsSlider">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"
                     style="background-image: url('images/samples/main-deposits-slide.jpg');">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="flex align-items-baseline">
                <div class="title-wrapper">
                    <div class="h1-wrap">
                        <h1>
                            Основные<br>
                            направления<br>
                            деятельности
                        </h1>
                    </div>
                </div>
                <div class="arrow-wrapper">
                    <!-- Add Arrows -->
                    <div class="btn-slide-prev">
                        <i class="icon-left"></i>
                    </div>
                    <div class="btn-slide-next">
                        <i class="icon-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="main-deposits__items flex-wrap flex">
            <div class="main-deposits__item">
                <div class="main-deposits__item-photo" style="background-image: url('images/samples/main-deposits1.jpg')"></div>
                <div class="main-deposits__item-title">
                    Добыча и переработка золотосодержащей руды
                </div>
            </div>
            <div class="main-deposits__item">
                <div class="main-deposits__item-photo" style="background-image: url('images/samples/main-deposits2.jpg')"></div>
                <div class="main-deposits__item-title">
                    Геологоразведочные работы
                </div>
            </div>
            <div class="main-deposits__item">
                <div class="main-deposits__item-photo" style="background-image: url('images/samples/main-deposits3.jpg')"></div>
                <div class="main-deposits__item-title">
                    Проектные и строительно-монтажные работы
                </div>
            </div>
            <div class="main-deposits__item">
                <div class="main-deposits__item-photo" style="background-image: url('images/samples/main-deposits4.jpg')"></div>
                <div class="main-deposits__item-title">
                    Финансирование научно-исследовательских, проектных и изыскательных работ
                </div>
            </div>
            <div class="main-deposits__item">
                <div class="main-deposits__item-photo" style="background-image: url('images/samples/main-deposits5.jpg')"></div>
                <div class="main-deposits__item-title">
                    Строительство и реконструкция производств по разведке, добыче и переработке драгоценных металлов
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
