<!-- Главная страница -->
{% set title = "Основные направления" %}
{% set namespace = "main-deposits" %}
{% set page = "main-deposits" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="mainTopSlider">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                 style="background-image: url('images/samples/main-deposits-slide.jpg');">
            </div>
            <div class="swiper-slide"
                 style="background-image: url('images/samples/main-deposits-slide.jpg');">
            </div>
            <div class="swiper-slide"
                 style="background-image: url('images/samples/main-deposits-slide.jpg');">
            </div>
            <div class="swiper-slide"
                 style="background-image: url('images/samples/main-deposits-slide.jpg');">
            </div>
            <div class="swiper-slide"
                 style="background-image: url('images/samples/main-deposits-slide.jpg');">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="flex align-items-center">
            <div class="title-wrapper">
                <div class="h1-wrap">
                    <h1>
                        Основные<br>
                        направления
                    </h1>
                </div>
            </div>
            <div class="arrow-wrapper">
                <!-- Add Arrows -->
                <div class="btn-slide-prev">
                    <i class="icon-left"></i>
                </div>
                <div class="btn-slide-next">
                    <i class="icon-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="advantages">
        <div class="flex flex-wrap">
            <div class="advantages__banner-wrap-outside">
                <div class="advantages__banner-wrap">
                    <div class="advantages__banner"
                         style="background-image:url('images/samples/advantages.jpg') ">
                        <div class="title">
                            <div class="text-uppercase">
                                Уникальные
                                преимущества
                            </div>

                            <div class="title-small">
                                АО «АК Алтыналмас»
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantages__article">
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-safety"></i>
                        </div>
                    </div>
                    <div>
                        <h5>
                            <a href="">
                                Безопасность

                                <i class="icon-btn-details"></i>
                            </a>
                        </h5>
                        <p class="js-text-ellipsis">
                            Внедряем мировые практики по совершенствованию Культуры безопасности для достижения нулевого
                            уровня травматизма на производстве
                        </p>
                    </div>
                </article>
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-star"></i>
                        </div>
                    </div>
                    <div>
                        <h5>
                            <a href="">
                                Инновационность

                                <i class="icon-btn-details"></i>
                            </a>
                        </h5>
                        <p class="js-text-ellipsis">
                            Реализуем инновационные проекты по автоматизации производства, повышению процента извлечения
                            ценного
                            компонента и увеличению производительности
                        </p>
                    </div>
                </article>
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-users"></i>
                        </div>
                    </div>
                    <div>
                        <h5>
                            <a href="">
                                Социальная ответственность

                                <i class="icon-btn-details"></i>
                            </a>
                        </h5>
                        <p class="js-text-ellipsis">
                            Предоставляем социальную поддержку во всех регионах, где ведем производственную деятельность
                        </p>
                    </div>
                </article>
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-network"></i>
                        </div>
                    </div>
                    <div>
                        <h5>
                            <a href="">
                                Равные возможности для всех

                                <i class="icon-btn-details"></i>
                            </a>
                        </h5>
                        <p class="js-text-ellipsis">
                            В компании работают представители 22 национальностей, средний возраст работников – 38 лет,
                            ТОП-менеджмент компании представляет собой 60% мужчин и 40% женщин
                        </p>
                    </div>
                </article>
                <article class="flex article">
                    <div>
                        <div class="icon-article">
                            <i class="icon-schedule"></i>
                        </div>
                    </div>
                    <div>
                        <h5>
                            <a href="">
                                Устойчивое развитие

                                <i class="icon-btn-details"></i>
                            </a>
                        </h5>
                        <p class="js-text-ellipsis">
                            Стремимся к наилучшим стандартам корпоративного управления. В своей деятельности мы
                            ориентируемся на принципы ответственной золотодобычи
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<div class="news">
    <div class="mainNewsSlider">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"
                     data-publication="24.01.2020"
                     data-title="АО «АК Алтыналмас» приобрело контрольный пакет акций АО «ГМК КАЗАХАЛТЫН»"
                     data-description="Дорогие коллеги! Рады сообщить вам о том, что в рамках инициатив по устойчивому развитию бизнеса наша компания приобрела контрольный пакет акций АО «ГМК КАЗАХАЛТЫН» в размере 54,24%. Приобретение контрольного пакета акций АО «ГМК КАЗАХАЛТЫН» является частью бизнес-стратегии АО «АК Алтыналмас», основанной на расширении базы активов через приобретения и органический рост.   «АО «ГМК КАЗАХАЛТЫН» является перспективным предприятием, производство которого нуждается в модернизации.
                        АО «АК Алтыналмас», имея опыт строительства и эксплуатации современных предприятий, намерено привнести в развитие АО «ГМК КАЗАХАЛТЫН» эту экспертизу, создав, тем самым, для его работников более безопасные условия."
                     data-href=""
                     style="background-image: url('images/samples/news1.jpeg');">
                </div>
                <div class="swiper-slide"
                     data-publication="25.02.2020"
                     data-title="2АО «АК Алтыналмас» приобрело контрольный пакет акций АО «ГМК КАЗАХАЛТЫН»"
                     data-description="2Дорогие коллеги, люди! Рады сообщить вам о том, что в рамках инициатив по устойчивому развитию бизнеса наша компания приобрела контрольный пакет акций АО «ГМК КАЗАХАЛТЫН» в размере 54,24%. Приобретение контрольного пакета акций АО «ГМК КАЗАХАЛТЫН» является частью бизнес-стратегии АО «АК Алтыналмас», основанной на расширении базы активов через приобретения и органический рост.   «АО «ГМК КАЗАХАЛТЫН» является перспективным предприятием, производство которого нуждается в модернизации.
                        АО «АК Алтыналмас», имея опыт строительства и эксплуатации современных предприятий, намерено привнести в развитие АО «ГМК КАЗАХАЛТЫН» эту экспертизу, создав, тем самым, для его работников более безопасные условия."
                     data-href=""
                     style="background-image: url('images/samples/news1.jpeg');">
                </div>
                <div class="swiper-slide"
                     data-publication="26.03.2020"
                     data-title="3АО «АК Алтыналмас» приобрело контрольный пакет акций АО «ГМК КАЗАХАЛТЫН»"
                     data-description="3Дорогие коллеги, товарищи! Рады сообщить вам о том, что в рамках инициатив по устойчивому развитию бизнеса наша компания приобрела контрольный пакет акций АО «ГМК КАЗАХАЛТЫН» в размере 54,24%. Приобретение контрольного пакета акций АО «ГМК КАЗАХАЛТЫН» является частью бизнес-стратегии АО «АК Алтыналмас», основанной на расширении базы активов через приобретения и органический рост.   «АО «ГМК КАЗАХАЛТЫН» является перспективным предприятием, производство которого нуждается в модернизации.
                        АО «АК Алтыналмас», имея опыт строительства и эксплуатации современных предприятий, намерено привнести в развитие АО «ГМК КАЗАХАЛТЫН» эту экспертизу, создав, тем самым, для его работников более безопасные условия."
                     data-href=""
                     style="background-image: url('images/samples/news1.jpeg');">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="news-block__title">
                <div class="line_bottom">
                    Новости компании
                </div>
            </div>

            <div class="news-article-wrap">
                <div class="publication-date">
                    24.01.2020
                </div>

                <article>
                    <div>
                        <h4 class="article-title">
                            АО «АК Алтыналмас» приобрело контрольный пакет акций АО «ГМК КАЗАХАЛТЫН»
                        </h4>
                        <p class="article-description" style="-webkit-box-orient: vertical;">
                            Дорогие коллеги! Рады сообщить вам о том, что в рамках инициатив по устойчивому развитию бизнеса
                            наша компания приобрела контрольный пакет акций АО «ГМК КАЗАХАЛТЫН» в размере 54,24%.
                            Приобретение контрольного пакета акций АО «ГМК КАЗАХАЛТЫН» является частью бизнес-стратегии АО
                            «АК Алтыналмас», основанной на расширении базы активов через приобретения и органический рост.
                            «АО «ГМК КАЗАХАЛТЫН» является перспективным предприятием, производство которого нуждается в
                            модернизации.

                            АО «АК Алтыналмас», имея опыт строительства и эксплуатации современных предприятий, намерено
                            привнести в развитие АО «ГМК КАЗАХАЛТЫН» эту экспертизу, создав, тем самым, для его работников
                            более безопасные условия.
                        </p>
                    </div>
                </article>

                <a href="" class="btn btn-detail">
                    Читать подробнее
                </a>
            </div>

            <div class="arrow-wrapper">
                <!-- Add Arrows -->
                <div class="btn-slide-prev">
                    <i class="icon-left"></i>
                </div>
                <div class="btn-slide-next">
                    <i class="icon-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
