<!-- Главная страница -->
{% set title = "Наши партнеры" %}
{% set namespace = "our-partners" %}
{% set page = "our-partners" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="our-partners">
    <div class="mainTopSlider mainDepositsSlider">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('images/samples/hotline-banner.jpg');">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="flex align-items-baseline">
                <div class="title-wrapper">
                    <div class="h1-wrap">
                        <h1>
                            Наши партнеры
                        </h1>
                    </div>
                </div>
                <div class="arrow-wrapper">
                    <!-- Add Arrows -->
                    <div class="btn-slide-prev">
                        <i class="icon-left"></i>
                    </div>
                    <div class="btn-slide-next">
                        <i class="icon-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="main-deposits__items flex-wrap flex">
            <a href="https://www.kz.srk.com/ru" target="_blank" class="main-deposits__item link-block">
                <div class="wrap-inside">
                    <div class="main-deposits__item-title">
                        AAEngineering Group LLP<br> ere
                    </div>
                    <div class="main-deposits__item-photo">
                        <img src="images/samples/ААЕ.jpg" alt="">
                    </div>
                </div>
            </a>


            <a href="https://www.kz.srk.com/ru" target="_blank" class="main-deposits__item link-block'">
                <div class="wrap-inside">
                    <div class="main-deposits__item-title">
                        Dassault
                    </div>
                    <div class="main-deposits__item-photo">
                        <img src="images/samples/3ds.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="https://www.kz.srk.com/ru" target="_blank" class="main-deposits__item link-block">
                <div class="main-deposits__item-title">
                    AAEngineering Group LLP
                </div>
                <div class="main-deposits__item-photo">
                    <img src="images/samples/ALS.jpg" alt="">
                </div>
            </a>

        </div>
    </div>
</div>
{% endblock %}