<!-- Sana Safety -->
{% set title = "Sana Safety" %}
{% set namespace = "sana-safety" %}
{% set page = "sana-safety" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="sana-safety">
    <div class="mainTopSlider mainDepositsSlider">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"
                     style="background-image: url('images/samples/sanasafety.jpg')">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="flex align-items-center">
                <div class="title-wrapper">
                    <div class="h1-wrap">
                        <h1>
                            Sana Safety
                        </h1>
                    </div>
                </div>
                <div class="arrow-wrapper">
                    <!-- Add Arrows -->
                    <div class="btn-slide-prev">
                        <i class="icon-left"></i>
                    </div>
                    <div class="btn-slide-next">
                        <i class="icon-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="sana-safety-content">
            <div class="flex flex-wrap justify-content-between">
                <article>
                    <h2 class="underline_bottom-offset">
                        Sana Safety
                    </h2>
                    <div class="description">
                        <p>
                            С 2019 года в компании началась реализация масштабного 3-летнего проекта «Sana Safety –
                            Осознанная безопасность». Он направлен на совершенствование системы управления охраной труда
                            и промышленной безопасностью, а также на развитие культуры безопасности в компании. Sana
                            Safety включает в себя внедрение лучших мировых практик в области промышленной безопасности
                            и охраны труда (ПБ и ОТ).
                        </p>
                        <p>
                            В результате реализации проекта ожидается наглядная приверженность
                            руководителей и вовлеченность всех работников в соблюдение высоких международных стандартов
                            по безопасности, повышение ответственности линейных руководителей за безопасность,
                            эффективный двухсторонний обмен информацией, процесс непрерывного обучения и развития
                            навыков безопасности работников, новый подход к расследованиям и составлению отчетов о
                            происшествиях.
                        </p>
                        <p>
                            Совершенствование элементов системы управления ПБ и ОТ приведет к
                            формированию устойчивой и повсеместной культуры безопасности.
                        </p>
                    </div>
                </article>

                <div class="right-side">
                    <div class="advantages__banner-wrap-outside">
                        <div class="advantages__banner-wrap">
                            <div class="advantages__banner" style="background-image:url('images/samples/advantages.jpg') "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

