<!-- Программы обучения -->
{% set title = "Программы обучения" %}
{% set namespace = "studying-programs" %}
{% set page = "studying-programs" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="studying-programs">
    <div class="mainTopSlider mainDepositsSlider">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"
                     style="background-image: url('images/samples/studying-programs.jpg')">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="flex align-items-center">
                <div class="title-wrapper">
                    <div class="h1-wrap">
                        <h1>
                            Программы обучения
                        </h1>
                    </div>
                </div>
                <div class="arrow-wrapper">
                    <!-- Add Arrows -->
                    <div class="btn-slide-prev">
                        <i class="icon-left"></i>
                    </div>
                    <div class="btn-slide-next">
                        <i class="icon-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="studying-programs-content">
            <div class="flex flex-wrap justify-content-between studying-programs__items">
                <div class="studying-programs__item">
                    <div class="title">
                        Обязательное обучение
                    </div>

                    <div class="img"
                         style="background-image: url('images/samples/studi1.jpg')"></div>

                    <div class="description">
                        <p>
                            Обязательное обучение проводится с целью обеспечения безопасного проведения работ на
                            производственных объектах повышенной опасности. Целями обязательного обучения являются:
                            ознакомление персонала с изменениями в законодательстве в области промышленной и пожарной
                            безопасности, безопасности и охраны труда и экологии, разъяснение положений и требований
                            законов
                            и подзаконных актов, повышение уровня понимания требований и рекомендаций нормативных
                            документов.
                        </p>
                        <p>
                            Также в Компании действует программа по обучению рабочего персонала, которая
                            включает теоретическое и производственное обучение и направлена на обеспечение соответствия
                            квалификационным требованиям к персоналу.
                        </p>
                    </div>
                </div>

                <div class="studying-programs__item">
                    <div class="title">
                        Повышение квалификации
                    </div>

                    <div class="img"
                         style="background-image: url('images/samples/studi2.jpg')"></div>

                    <div class="description">
                        <p>
                            Инвестиции в повышение квалификации персонала являются стратегическим приоритетом
                            Компании. Программы обучения и повышения квалификации направлены на развитие ключевых
                            компетенций работников и структурированы по следующим направлениям:
                        </p>

                        <ul class="description__list">
                            <li>
                                программы развития профессиональных компетенций и подготовки к профессиональной
                                сертификации;
                            </li>

                            <li>
                                программы развития лидерского потенциала и управленческих компетенций;
                            </li>

                            <li>
                                программы развития цифровых навыков;
                            </li>
                            <li>
                                программы развития коммуникативных навыков и корпоративных компетенций.
                            </li>
                        </ul>

                        <p>
                            Обучение проводится на курсах, тренингах или семинарах, организованных с помощью внешних
                            тренинговых компаний или посредством привлечения внутренних тренеров. В процессе обучения
                            используются следующие формы проведения занятий: лекции, практические упражнения в парах и
                            малых группах, ролевые и деловые игры, индивидуальные задания, а также проектная работа в
                            командах.
                        </p>
                    </div>
                </div>

                <div class="studying-programs__item">
                    <div class="title">
                        Обязательное обучение
                    </div>

                    <div class="img"
                         style="background-image: url('images/samples/studi3.jpg')"></div>

                    <div class="description">
                        <p>
                            В настоящее время работники Компании имеют возможность получить образование за счет средств
                            работодателя по приоритетным специальностям для АО «Алтыналмас» в учебных заведениях
                            Республики Казахстан.
                        </p>
                        <p>
                            Данный проект позволяет работникам получить средне-специальное, высшее
                            образование, а также пройти обучение на программах магистратуры.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

