<!-- Поставщикам -->
{% set title = "Внутренние нормативные документы" %}
{% set namespace = "inside-doc" %}
{% set page = "inside-doc" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


<div class="banner" style="background-image: url('images/samples/inside-doc.jpg');">
	<div class="container-fluid">
		<div class="flex align-items-baseline">
			<div class="title-wrapper">
				<div class="h1-wrap">
					<h1 class="small">
						Внутренние нормативные документы
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>



<section class="inside-doc">
	<div class="container-fluid">

		<div class="inside-doc__download">
			<p>Положение по охране труда, технике безопасности и охране окружающей среды для подрядных организаций АО «АК
				Алтыналмас»</p>
			<a href="#" download class="btn btn-detail">Скачать документ</a>
		</div>

		<div class="inside-doc__download">
			<p>Кодекс корпоративной этики АО «АК Алтыналмас» </p>
			<a href="#" download class="btn btn-detail">Скачать документ</a>
		</div>

		<div class="inside-doc__download">
			<p>Политика по урегулированию конфликта интересов у работников и должностных лиц АО «АК Алтыналмас» </p>
			<a href="#" download class="btn btn-detail">Скачать документ</a>
		</div>

		<div class="inside-doc__download">
			<p>Положение по оповещению о нарушении этических норм, законодательства и внутренних правил АО «АК Алтыналмас»</p>
			<a href="#" download class="btn btn-detail">Скачать документ</a>
		</div>

	</div>
</section>
<!-- /.corporate -->



{% endblock %}