<!-- Поставщикам -->
{% set title = "Принципы закупочной политики" %}
{% set namespace = "principles" %}
{% set page = "principles" %}

{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}


<div class="banner" style="background-image: url('images/samples/banner-principles.jpg');">
	<div class="container-fluid">
		<div class="flex align-items-baseline">
			<div class="title-wrapper">
				<div class="h1-wrap">
					<h1 class="small">
						Принципы закупочной политики
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>



<section class="principles">
	<div class="container-fluid">
		<div class="flex flex-wrap justify-content-between">

			<div class="principles__lists">
				<div class="principles__lists-head">
					Прозрачность
				</div>
				<div class="principles__lists-body">
					<ul>
						<li>Порядок проведения закупок и требования к их оформлению четко определены и регламентированы внутренними
							нормативными документами Общества; потенциальным поставщикам предоставляется необходимая и достаточная
							информация для участия в процедурах закупок; информация о закупках размещается в источниках,
							предусмотренных законодательством, и на сайте Общества;</li>
						<li>Обществом установлены прозрачные принципы и критерии оценки предложений и выбора поставщика;</li>
					</ul>
				</div>
			</div>

			<div class="principles__lists">
				<div class="principles__lists-head">
					Конкурентность
				</div>
				<div class="principles__lists-body">
					<ul>
						<li>Закупки осуществляются путем выбора наилучшего предложения в конкурентной среде.</li>
						<li>Закупки без применения конкурентной среды осуществляются в ограниченных случаях.</li>
					</ul>
				</div>
			</div>

			<div class="principles__lists">
				<div class="principles__lists-head">
					Справедливость
				</div>
				<div class="principles__lists-body">
					<ul>
						<li>Поставщикам предоставляются равные условия для участия в закупках.</li>
						<li>Установлены обоснованные требования к поставщикам и закупаемым ТРУ.</li>
					</ul>
				</div>
				<div class="principles__lists-head">
					Эффективность
				</div>
				<div class="principles__lists-body">
					<ul>
						<li>Решения по закупкам принимаются, исходя из соотношения требуемого качества закупаемых ТРУ к их
							стоимости.</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- /.corporate -->



{% endblock %}